{% extends 'base.html' %}

{% block title %} FindIvest | Inscription {% endblock %}

{% block content %}

<style>
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-size: 'Poppins', sans-serif;
	}
	body{
		display: wrap;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		/* background: #0b5ed7; */
		transition: 0.5s; 
	}
	
	.contain{
		position: absolute;
		width: 900px;
		height: 450px;
		margin: 20px;
	}
   	.signup{
		position: absolute;
		background: #fff;
		top: 0;
		left: 20%;
		width: 50%;
		height: 100%;
		display: flex;
		#align-items: center;
		box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
		transition: .3s ease-in-out;
		overflow: hidden;
		border-radius: 10px;
	}
	.signup p{
		margin: 40px 0;
		font-size: 1.5rem;
	}

	@media screen and (max-width:991px) {
		.contain{
			height: 600px;
			max-width: 300px;
			left: 0;
		}
		.contain .signup{
			position: absolute;
			width: 600px;
			margin: 0;
		}
		.signup p{
			width: 100%;
			margin: 20px 0;
		}
			
		
	}


</style>
{% load socialaccount %}
<div class="contain">
	<div class='signup active row'>
		<div class='par text-xxl-center col-md-6'>
			<p > pour continuer en tant que <b>{{ user.email }}</b>
				Choisissez un type de Compte
			</p>
			<a class='btn-bleu' href="{% url 'investor_signup' user.id %}">Investisseur</a>
			<a class='btn-orange ' href="{% url 'student_signup' user.id %}"> Etudiant</a>
		</div>


	</div>
</div>




{% endblock %}