{% extends 'base-accueil.html' %}
{% load static %}

{% block title %} FindIvest | Accueil {% endblock %}

{% block content %}
  

<!-- ============== NAV ================= -->
<nav>
    <div class="container">
        <a href="#create-post">
            <!-- <h2 class="log">
                FindInvest
            </h2> -->
            <h2 class="log">
                <span style="opacity: 0; visibility: hidden;">FindInvest</span>
                <img src="{% static 'img/logo1.png' %}">
            </h2>
        </a>
        
        <div class="search-bar" id="search-bar-id">
            <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
            <i class="uil uil-search"></i>
            <input class="search-bar-input" type="search" name="" id="search-bar-input" placeholder="Rechercher...">
        </div>

        <div class="create dropdown">
            {% if request.user.etudiant.id %}
                <label class="btn btn-primary" for="create-post" data-bs-toggle="modal" data-bs-target="#createPostModal">Poster</label>
                <div class="profile-photo" style="cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{request.user.etudiant.photoProfil.url}}">
                </div>
            {% elif request.user.investisseur.id %}
                <div class="profile-photo" style="cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{request.user.investisseur.photoProfil.url}}">
                </div>
            {% endif %}
            <ul class="dropdown-menu">
                <li>
                    {% if request.user.etudiant.id %}
                        <a class="dropdown-item" href="{% url 'profile_student' request.user.etudiant.id %}">
                    {% elif request.user.investisseur.id %}
                        <a class="dropdown-item" href="{% url 'profile_investor' request.user.investisseur.id %}">
                    {% endif %}
                    <i class="uil uil-user"></i> Profil</a>

                </li>
                <li><a class="dropdown-item" href="{% url 'user_logout' %}">
                    <i class="uil uil-sign-out-alt"></i> Logout
                </a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- ============== MAIN ================= -->
<main>
    <div class="container">
        <!-- ============== LEFT =============== -->
        <div class="left">
            <a class="profile">
                {% if request.user.etudiant.id %}
                    <div class="profile-photo"  style="cursor: pointer;">
                        <img src="{{request.user.etudiant.photoProfil.url}}">
                    </div>
                {% else %}
                    <div class="profile-photo" style="cursor: pointer;">
                        <img src="{{request.user.investisseur.photoProfil.url}}">
                    </div>
                {% endif %}
                <div class="handle">
                    <h4>{{request.user.last_name}}</h4>
                </div>
            </a>

            <!-- ---------- sidebar ---------- -->
            <div class="sidebar">
                <!-- <a class="menu-item active">
                    <span><i class="uil uil-home"></i></span><h3>Home</h3>
                </a> -->

                <!-- lance le modal des discussions -->
                <a class="menu-item" id="messages-notifications"  data-bs-toggle="modal" data-bs-target="#discussionModal">
                    <span><i class="uil uil-envelope"><small class="notifications-count">6</small></i></span><h3>Messages</h3>
                </a>
                <a class="menu-item" id="notifications">
                    <span><i class="uil uil-bell"><small class="notifications-count">9+</small></i></span><h3>Notifications</h3>
                    <!-- ------------ notifications popup -------------- -->
                    <div class="notifications-popup">
                        <div>
                            <div class="profile-photo">
                                <img src="{% static 'images/tm.jpg' %}">
                            </div>
                            <div class="notifications-body">
                                <b>Flavie Daniella</b> commened on your post
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                        </div>
                        <div>
                            <div class="profile-photo">
                                <img src="{% static 'images/profile-3.jpg' %}">
                            </div>
                            <div class="notifications-body">
                                <b>Mengue Victor</b> liked your post
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                        </div>
                        <div>
                            <div class="profile-photo">
                                <img src="{% static 'images/profile-4.jpg' %}">
                            </div>
                            <div class="notifications-body">
                                <b>Nguete Dave</b> commened on your post
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                        </div>
                        <div>
                            <div class="profile-photo">
                                <img src="{% static 'images/profile-5.jpg' %}">
                            </div>
                            <div class="notifications-body">
                                <b>Bikim Yvelos</b> liked your post
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                        </div>
                        <div>
                            <div class="profile-photo">
                                <img src="{% static 'images/profile-6.jpg' %}">
                            </div>
                            <div class="notifications-body">
                                <b>Tom Michel</b> commened on a post you are tagged
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                        </div>
                    </div>
                    <!-- ------------ end notifications popup -------------- -->
                </a>
                <a class="menu-item">
                    <span><i class="uil uil-folder"></i></span><h3>Mes projets</h3>
                </a>
                <a class="menu-item">
                    <span><i class="uil uil-folder-heart"></i></span><h3>Mes favoris</h3>
                </a>
                <a class="menu-item">
                    <span><i class="uil uil-users-alt"></i></span><h3>Abonnées</h3>
                </a>
                <a class="menu-item" id="theme">
                    <span><i class="uil uil-palette"></i></span><h3>Thème</h3>
                </a>
                <!-- <a class="menu-item">
                    <span><i class="uil uil-setting"></i></span><h3>Paramètres</h3>
                </a> -->
            </div>

            <!-- ------------ end of sidebar --------- -->
            <label class="btn btn-primary" for="create-post" data-bs-toggle="modal" data-bs-target="#createPostModal">Create post</label>
        </div>
        <!-- ============== END OF LEFT =============== -->


        <!-- ============== MIDDLE =============== -->
        <div class="middle">
            <!-- --------- début recherche ------------ -->
        
            <div class="searchNav" id="searchNavId">
                <div class="result">
                    <div class="search-bar my-2">
                        <input class="search-bar-input" type="search" name="" id="search-bar-input-2" placeholder="Rechercher...">
                    </div>
                    {% for post in postList %}
                        <div class="to-search-project">
                            <a href="#projet{{post.id}}">
                                <div class="profile-photo">
                                    <img src="{{post.etudiant.photoProfil.url}}">
                                </div>
                                <span>
                                    <h3>{{post.etudiant.user.last_name}} - {{post.categorie}}</h3>
                                    <h5>{{post.title}}</h5>
                                </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- -------------- fin recherche ------------ -->

            {% if request.user.etudiant.id %}
                <div class="create-post" id="create-post" data-bs-toggle="modal" data-bs-target="#createPostModal">
                    
                    {% if request.user.etudiant.id %}
                        <div class="profile-photo"  style="cursor: pointer;">
                            <img src="{{request.user.etudiant.photoProfil.url}}">
                        </div>
                    {% else %}
                        <div class="profile-photo" style="cursor: pointer;">
                            <img src="{{request.user.investisseur.photoProfil.url}}">
                        </div>
                    {% endif %}
                    <input type="search" name="" id="create-post" placeholder="Une idée de projet ?">
                    <button class="btn btn-primary">Poster</button>
                </div>
            {% endif %}

            <!-- ------------ posts --------------- -->
            <div class="posts">
                {% for post in postList %}
                    <!-- ------------ post 1 --------------- -->
                    <div class="post" id="#projet{{post.id}}">
                        <div class="head">
                            <div class="user">
                                <a href="{% url 'profile_student' post.etudiant.id %}">
                                    <div class="profile-photo">
                                        <img src="{{post.etudiant.photoProfil.url}}">
                                    </div>
                                </a>
                                <div class="autor">
                                    <a href="#projet{{post.id}}">
                                        <h3>{{post.etudiant.user.last_name}} - {{post.categorie}}</h3>
                                        <small>{{post.etudiant.ville}}, {{post.date_post}}</small>
                                    </a>
                                </div>
                            </div>
                            {% if request.user.id == post.etudiant.user.id %}
                                <div class="dropstart">
                                    <span class="edit" id="dropdownPostActions" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="uil uil-ellipsis-h"></i> 
                                    </span>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownPostActions">
                                        <li><a class="dropdown-item" href="{% url 'update_post' post.id %}"  data-bs-toggle="modal" data-bs-target="#createPostModal"><i style="color:rgb(34, 92, 252); font-size: 1.5em;" class="uil uil-pen"></i>Modifier</a></li>
                                        <li><a class="dropdown-item" href="{% url 'delete_post' post.id %}" onclick="return delete_post();"><i style="color:rgb(245, 1, 62); font-size: 1.5em;" class="uil uil-trash-alt"></i>Supprimer</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="post-description">
                            <div class="post-title">
                                <h5>
                                    {{post.title}}
                                    {% if post.investi == "Oui" %}
                                    <span style="color: green;">- projet inivesti</span>
                                    {% endif %}
                            </div>
                            <p>
                                {{post.description}}
                            </p>
                            {% if post.media %}
                                <p>
                                    <a href="{{post.media.url}}" download="FindInvest_Document">Description détaillée PDF</a>
                                </p>
                            {% endif %}
                        </div>
                        <div class="photo">
                            <a href="{{post.image.url}}">
                                <img src="{{post.image.url}}">
                            </a>
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                                <span>
                                    <i class="uil uil-heart"></i>
                                    <!-- <i class="bi bi-suit-heart"></i> -->
                                    <span class="text-muted text-small">15</span>
                                </span>&emsp;
                                <span id='nb_com{{post.id}}'>
                                    <i class="uil uil-comment-dots icon-toggle-comments"></i>
                                    <span class="text-muted text-small">15</span>
                                </span>&emsp;
                                <span><i class="uil uil-share-alt"></i></span>
                            </div>
                            <div>
                            </div>
                            <div class="favorite">
                                {% if request.user.investisseur.id %}
                                    <a href="{% url 'createRoom' request.user.id post.etudiant.user.id post.title %}"><i class="uil uil-comments-alt"></i></a>
                                {% endif %}
                                &emsp;
                                <span><i class="uil uil-favorite"></i></span>
                               
                                {% if post.etudiant.id == request.user.etudiant.id %}
                                    <i style="color: green;" class="uil uil-money-withdraw markInvest"></i>
                                {% endif %}
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static 'images/profile-15.jpg' %}"></span>
                            <span><img src="{% static 'images/profile-16.jpg' %}"></span>
                            <span><img src="{% static 'images/profile-18.jpg' %}"></span>
                            <p>Aimé par <b>Tom Michel</b> et <b>321 autres</b></p>
                        </div>

                        <div class="caption">
                            <b>Tom Michel</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. <span class="hash-tag">#génie</span>
                        </div>

                        <!-- ------------------- partie commentaires ---------------------- -->

                        <div class="comments mt-1" id="com{{post.id}}">
                            <span class="text-muted toggle-comments">Voir/Cacher tous les commentaires</span>
                            <div class="list-comments mt-3">
                                <div class="chat pt-4" id="comments{{post.id}}">

                                    <!-- comentaire 1 -->
                                    <div class=".disc-left d-flex align-items-start text-start justify-content-start">
                                        <div>
                                            <div class="avatar">
                                                <img src="{% static 'img/default.jpeg' %}">
                                            </div>
                                        </div>
                                        <div class="left-messages">
                                            <span class="card card-text-left d-inline-block py-1 px-3 ms-1">
                                                Let me know when you're available?
                                            </span>
                                            <br>
                                            <div class="ms-2 my-1">
                                                <span class="text-muted">
                                                    <span class="btn-reply-comment">Répondre</span>&emsp;
                                                    01:13PM
                                                </span>
                                            </div>
                                            <br>
                                        </div>
                                    </div>

                                    {% comment %} <!-- votre commentaire 1 -->
                                    <div class=".disc-right d-flex align-items-baseline text-end justify-content-end">
                                        <div class="right-messages">
                                            <span class="card card-text-right d-inline-block text-start py-1 px-3 me-1">
                                                Let me know when you're available?
                                            </span>
                                            <br>
                                            <div class="me-2">
                                                <span class="text-muted">01:13PM</span>
                                            </div>
                                            <br>
                                        </div>
                                    </div>

                                    <!-- --------------- commentaire 2 --------------- -->
                                    <div class=".disc-left d-flex align-items-start text-start justify-content-start">
                                        <div>
                                            <div class="avatar">
                                                <img src="{% static 'img/default.jpeg' %}">
                                            </div>
                                        </div>
                                        <div class="left-messages">
                                            <span class="card card-text-left d-inline-block py-1 px-3 ms-1">
                                                Let me know when you're available?
                                            </span>
                                            <br>
                                            <div class="ms-2 my-1">
                                                <span class="text-muted">
                                                    <span class="btn-reply-comment">Répondre</span>&emsp;
                                                    01:13PM
                                                </span>
                                            </div>
                                            <!-- --------- input réponse commentaire 2 ------- -->
                                            <div class="reply-comment">
                                                <form action="" method="post">
                                                    {% csrf_token %}
                                                    <input type="text" name="" id="" placeholder="Votre réponse">
                                                    <div class="send">
                                                        <input type="submit" id="reply-message" value="Envoer" hidden>
                                                        <label for="reply-message"><i class="uil uil-message"></i></label>
                                                    </div>
                            
                                                </form>
                                            </div>
                                            <br>

                                            <!-- ---------------- reponse commentaire 2 ---------------- -->
                                            <div class=".disc-left d-flex align-items-start text-start justify-content-start">
                                                <div>
                                                    <div class="avatar">
                                                        <img src="{% static 'img/default.jpeg' %}">
                                                    </div>
                                                </div>
                                                <div class="left-messages">
                                                    <span class="card card-text-left d-inline-block py-1 px-3 ms-1">
                                                        Let me know when you're available?
                                                    </span>
                                                    <br>
                                                    <div class="ms-2 my-1">
                                                        <span class="text-muted">
                                                            <span class="btn-reply-comment">Répondre</span>&emsp;
                                                            01:13PM
                                                        </span>
                                                    </div>
                                                    <!-- --------- input réponse à la réponse commentaire 2 ------- -->
                                                    <div class="reply-comment">
                                                        <form action="" method="post">
                                                            {% csrf_token %}
                                                            <input type="text" name="" id="" placeholder="Votre réponse">
                                                            <div class="send">
                                                                <input type="submit" id="reply-message" value="Envoer" hidden>
                                                                <label for="reply-message"><i class="uil uil-message"></i></label>
                                                            </div>
                                    
                                                        </form>
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- votre commentaire 1 -->
                                    <div class=".disc-right d-flex align-items-baseline text-end justify-content-end">
                                        <div class="right-messages">
                                            <span class="card card-text-right d-inline-block text-start py-1 px-3 me-1">
                                                Let me know when you're available?
                                            </span>
                                            <br>
                                            <div class="me-2">
                                                <span class="text-muted">01:13PM</span>
                                            </div>
                                            <br>
                                        </div>
                                    </div> 
                                    {% endcomment %}
                                </div>
                            </div>
                            <div class="send-comment">
                                <form class="comment_form">
                                    {% csrf_token %}
                                    <input type="text" name="projet" id="projet" value="{{post.id}}" hidden>
                                    <input type="text" name="auteur" id="auteur" value="{{request.user.id}}" hidden>
                                    <input type="text" name="corps" id="corps" placeholder="Votre commentaire">
                                    <div class="send">
                                        <input type="submit" id="send-message" value="Envoer" hidden>
                                        <label class="btn_sub" for="send-message"><i class="uil uil-message"></i></label>
                                    </div>
            
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- ------------ end posts --------------- -->
        </div>
        <!-- ============== END OF MIDDEL =============== -->

        <!-- ============== RIGHT =============== -->
        <div class="right">
            <!-- -------- catégories ---------- -->
            <div class="categories">
                <div class="heading">
                   <h4>Projets</h4>
                   <i class="uil uil-0-plus"></i>
                </div>

                <!-- ---------- search bar ------------- -->
                <div class="search-bar">
                    <i class="uil uil-search"></i>
                    <input type="search" name="" id="category-search" placeholder="Rechercher...">
                </div>
                <!-- -------- project categrories --------- -->
                <div class="category">
                   <h6 class="active">Types</h6>
                   <h6>Plus Aimés</h6>
                   <h6 class="invest-projects">Investis(6)</h6>
                </div>

                <div class="accordion accordion-flush" id="cat1">
                    {% for post in postListUnique %}
                        <div class="accordion-item mb-4">
                            <div class="project-line" style="cursor: pointer;">
                                <div class="project-body collapsed" data-bs-toggle="collapse" data-bs-target="#cat{{post.categorie.id}}" aria-expanded="false">
                                    <h5>{{post.categorie}}</h5>
                                    <p class="text-muted">nombre projets publiés</p>
                                </div>
                                <span class="">
                                    <i class="uil uil-direction"></i>
                                </span>
                            </div>
                            {% for p in postList %}
                                {% if p.categorie == post.categorie %}
                                    <div id="cat{{post.categorie.id}}" class="accordion-collapse collapse my-2" aria-labelledby="flush-head{{post.categorie.id}}" data-bs-parent="#cat2">
                                        <p>{{p.title}}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                
            </div>
            <div>
                <!-- ----------- Discussions ------------ -->
                <div class="discussions">
                    <h4>Discussions</h4>
                    <div class="discussion" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#discussionModal">
                        <div class="info">
                            <div>
                                <span>
                                    <h5><i class="uil uil-envelope"></i> Mes discussions</h5>
                                </span>
                                <p></p>
                                <p class="text-muted">
                                    Ci-dessous la lsite de vos discussions
                                </p>
                                {% comment %} <p class="text-muted">
                                    <b>Sujets :</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perferendis repudiandae repellat quidem tempore voluptatibus enim distinctio est nesciunt eveniet.
                                </p> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    {% for room in roomList %}
                        {% if room.user1 == request.user.last_name %}
                            <div class="discussion">
                                <div class="info">
                                    <div class="profile-photo">
                                    {% for u in userList %}
                                        {% if u.last_name == room.user2 %}
                                        <img src="{{u.etudiant.photoProfil.url}}" alt="">
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                    <div>
                                        <span>
                                            <h5>{{room.user2}}</h5>
                                        </span>
                                        <p class="text-muted mb-0">
                                            {% comment %} {{room.name}} {% endcomment %}
                                            <a href="/{{room.name}}/?username={{request.user.last_name}}">{{room.name|truncatechars:30}}</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% if room.user2 == request.user.last_name %}
                                <div class="discussion">
                                    <div class="info">
                                        <div class="profile-photo">
                                        {% for u in userList %}
                                            {% if u.last_name == room.user1 %}
                                            <img src="{{u.investisseur.photoProfil.url}}" alt="">
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                        <div>
                                            <span>
                                                <h5>{{room.user1}}</h5>
                                            </span>
                                            <p class="text-muted mb-0">
                                                <a href="/{{room.name}}/?username={{request.user.last_name}}">{{room.name|truncatechars:30}}</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
           </div>
        </div>
        <!-- ============== END OF RIGTH =============== -->
    </div>
</main>

<!-- ================ DISCUSSIONS MODAL ====================== -->
  
  <!-- CREATE POST Modal -->
<div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="createPostLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createPostLabel">Publier/Modifier un projet</h5>
          <i id="fermerMod" class="uil uil-multiply"  data-bs-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
             <div class="form">
                    <form method="post" enctype="multipart/form-data" id="form-post">
                            {% csrf_token %}
                            <div class="champs">
                            {{ create_post_form.title }}
                            <p><span id='error_title'></span></p>

                            {{create_post_form.categorie }}
                            <p><span id="error_categorie"></span></p>
                            
                            <textarea name="description" cols="40" rows="10" maxlength="500" placeholder="Decrivez votre  projet en quelques lignes" required="" id="id_description"></textarea>
                            <p><span id="error_description"></span></p>
                            
                            <!-- div ou s'affichera la previsualisation de l'image ou du ficier -->

                            <div id="img-show">
                                <i class="uil uil-multiply" id="close-img-show"></i>
                                <label for="id_image">
                                    <div id="img-show-content">
                                        <i class="uil uil-images" id="titre_image"></i>
                                        <p>Ajouter une image</p>
                                        <div class="profile_projet">
                                            <img id="choosen-image" class=""  src="{{create_post_form.image.url}}" alt="">
                                        </div>
                                        <div>
                                            <input type="file" name="image" accept="image/*" id="id_image" hidden>
                                        </div>
                                    </div>
                                </label>
                                
                            </div>
                            <div id="file-show" hidden>
                                <i class="uil uil-multiply" id="close-file-show"></i>
                                <label for="id_media">
                                    <div id="img-show-content">
                                        <i class="uil uil-images" id="titre_media"></i>
                                        <p>Ajouter une image</p>
                                        <div class="profile_projet">
                                            <img id="choosen-file" class=""  src="{create_post_form.media.url}}" alt="">
                                        </div>
                                        <div>
                                            <input type="file" name="media" id="id_media" hidden>
                                        </div>
                                    </div>
                                </label>
                                
                            </div>
                            <!-- div permettant de choisir d'oujouter une image ou un fichier -->
                            <div class="image">
                                
                                <span>Joindre a votre publication</span><i id="imgs" class="uil uil-image-plus"></i><i id="file" class="uil uil-file-plus"></i>  
                            </div>
                            <div>
                                <select name="etudiant" required="" id="id_etudiant" hidden>
                                        <option value="{{request.user.etudiant.id }}">{{request.user.etudiant}}</option>
                                </select>
                            <!-- fin div -->
                                <input class="btn btn-primary btn1" type="submit" onclick="validatePost()" name="" value="Publier">
                            </div>
                            {{ err_create_post }}
                        
                    
                    </div>
                    </form>
                </div>

                
        </div>
      </div>
    </div>
</div>


  <!-- MODIFY POST Modal -->
<div class="modal fade" id="modifyPostModal" tabindex="-1" aria-labelledby="createPostLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createPostLabel">Supprimer un projet</h5>
          <i class="uil uil-multiply"  data-bs-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            ----
        </div>
      </div>
    </div>
</div>

  <!-- Modal discussions -->
<div class="modal fade" id="discussionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Discussions</h5>
                <i class="uil uil-multiply"  data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                {% for room in roomList %}
                {% if room.user1 == request.user.last_name or room.user2 == request.user.last_name %}
                    <div class="discussionMod">
                        {% if room.user1 == request.user.last_name %}
                            <div class="info">
                                <div class="profile-photo">
                                    {% for u in userList %}
                                        {% if u.last_name == room.user2 %}
                                        <img src="{{u.etudiant.photoProfil.url}}" alt="">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div>
                                    <span>
                                        <h5>{{room.user2}}</h5>
                                    </span>
                                    <p class="text-muted mb-0">
                                        <a href="/{{room.name}}/?username={{request.user.last_name}}">{{room.name|truncatechars:30}}</a>
                                    </p>
                                </div>
                            </div>
                        {% else %}
                            {% if room.user2 == request.user.last_name %}
                            <div class="info">
                                <div class="profile-photo">
                                    {% for u in userList %}
                                        {% if u.last_name == room.user1 %}
                                            <img src="{{u.investisseur.photoProfil.url}}" alt="">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div>
                                    <span>
                                    <h5>{{room.user1}}</h5>
                                    </span>
                                    <p class="text-muted mb-0">
                                        <a href="/{{room.name}}/?username={{request.user.last_name}}">{{room.name|truncatechars:30}}</a>
                                    </p>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- ================ END DISCUSSIONS MODAL ====================== -->

<!-- ==================== THEME CUSTOMIZATION ======================= -->
<div class="customize-theme">
    <div class="carte">
        <span class="bt-close"><i class="uil uil-multiply" id="close_modal"></i></span>
        <h2>Changez votre affichage</h2>
        <p class="text-muted">Gérez vos texte, couleurs, et arrière-plan</p>

        <!-- -------------- font sizes ------------- -->
        <div class="font-size">                
            <h4>Taille de police</h4>
            <div>
                <h6>Aa</h6>
                <div class="choose-size">
                    <span class="font-size-1"></span>
                    <span class="font-size-2"></span>
                    <span class="font-size-3 active"></span>
                    <span class="font-size-4"></span>
                </div>
                <h3>Aa</h3>
            </div>
        </div>

        <!-- primary colors -->
        <div class="color">
            <h4>Couleurs</h4>
            <div class="choose-color">
                <span class="color-1 active"></span>
                <span class="color-2"></span>
                <span class="color-3"></span>
                <span class="color-4"></span>
            </div>
        </div>

        <!-- ----------- backgroung colors -->
        <div class="background">
            <h4>Arrière-plan</h4>
            <div class="choose-bg">
                <div class="bg bg-1 active">
                    <span></span>
                    <h5 for="bg-1">Clair</h5>
                </div>
                <div class="bg bg-2">
                    <span></span>
                    <h5 for="bg-2">Sombre</h5>
                </div>
                <div class="bg bg-3">
                    <span></span>
                    <h5 for="bg-3">Noir</h5>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- actualiser la liste des messages -->

<!-- <script>
    $(document).ready(function(){

        setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "/getMessages/{{room}}/",
                success: function(response){
                    $("#chat").empty();
                    for (var key in response.messages)
                    {
                        if(response.messages[key].user == "{{request.user.last_name}}"){
                            var temp="<div class='disc-right d-flex align-items-baseline text-end justify-content-end'>"
                                +"<div class='right-messages'>"
                                +"<span class='card card-text-right d-inline-block text-start py-1 px-3 me-1'>"
                                +response.messages[key].value
                                +"</span><br>"
                                +"<div class='me-2'>"
                                +"<span class='text-muted'>"
                                +response.messages[key].date+"</span></div><br></div></div>"
                            ;
                        }else{
                            
                            var temp="<div class='.disc-left d-flex align-items-start text-start justify-content-start'>"
                                +"<div><div class='avatar'><img src="+response.photo+"></div></div>"
                                +"<div><span class='card card-text-left d-inline-block py-1 px-3 ms-1'>"
                                +response.messages[key].value
                                +"</span><br><div class='ms-2'><span class='text-muted'>"
                                +response.messages[key].date
                                +"</span></div><br></div></div>"
                            ;
                        }
                        $("#chat").append(temp);
                    }
                },
                error: function(response){
                    alert('An error occured')
                }
            });
        },1000);
    })
</script> -->


<script>

    // suppression d'une publication
    let create_form = document.getElementById('create_form');
    
    create_form.addEventListener("submit", StopReload)

    function StopReload(e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'accueil' %}",
            data: $('#create_form').serialize(),
            dataType: "json",

            success:function(data){
                create_form.reset()
            }
        })
    }

    function delete_post() {
        res = confirm("Voulez-vous supprimmer cette publications ? ");
        if(res){
            return true;
        }else{
            return false;
        }
    }
// fin supression
</script>
<script>

var id_title = document.getElementById('id_title')
    id_title.placeholder = "Titre"
var error_title = document.getElementById('error_title')

var id_categorie = document.getElementById('id_categorie')
    id_categorie.placeholder = 'Categorie'
var error_categorie = document.getElementById('error_categorie')

var id_description = document.getElementById('id_description')
id_description.placeholder = 'Votre description en quelques lignes'
var error_description = document.getElementById('error_description')


function valChapmsText(champs, errClass) {
    if (champs.value == "") {
    errClass.innerHTML="*veuillez remplir ce champs";
    champs.focus();
    champs.classList.add('err');
    return false;
    } else {
    errClass.innerHTML="";
    champs.classList.remove('err');
    return true;
    }
}


function validatePost() {

  // body...
  if (valChapmsText(id_title, error_title)
    && valChapmsText(id_categorie, error_categorie)
    && valChapmsText(id_description, error_description)
    ){
    return true;
  }
  else{
    return false;
  }
}
</script>
<script>
// charger l'image

	let choosenImage = document.getElementById('choosen-image');
	let uploardButton = document.getElementById('id_image');

	let ListExt = ["jpeg", "jpg", "png", "tif", "gif",
				   "JPEG", "JPG", "PNG", "TIF", "GIF"];

	uploardButton.onchange = () =>{
		let fileName = uploardButton.files[0].name.split(".");
		let ext = fileName[fileName.length-1];
		// alert(ext);
		if(ListExt.indexOf(ext) === -1){
			alert("Veuillez sélectionner une image png, jpeg, jpg, tif ou gif");
		}else{
			let reader = new FileReader();
			reader.readAsDataURL(uploardButton.files[0]);
			let file = uploardButton.files[0];
			reader.onload = () => {
				choosenImage.setAttribute("src", reader.result);

			}
		}
	}

// obtenir le modal 
$(document).ready(function(){
        // click sur le bouton  qui ouvre le modal
        $('#imgs').click(function(){
			$('#img-show').show();
            $('.modal-content').animate({bottom: '75px'})
            $('#id_description').css({
                'height': '60px'
                
            })
		});
        // reactualiser la taille de la description apres fermeture du modal
        $('#poster').click(function(){
            $('#id_description').css({
                'height': '120px'
            })
        })
        $('#create-post').click(function(){
            $('#id_description').css({
                'height': '120px'
            })
        })
        // fin

        // modification qui s'applique lorsqu'on ferme le modal de publication
        $('#fermerMod').click(function(){
			$('#img-show').hide(1000);
             $('#id_description').css({
                'height': '60px'
            })    
		});
        // click sur le bouton pour fermer l'espace de previsualisation de l'image
        $('#close-img-show').click(function(){
            $('#img-show').hide();
        });
});



</script>

<script>
    listcomForms = document.querySelectorAll('.comment_form');
    comForms = document.querySelectorAll('.btn_sub');
    corps = document.querySelectorAll('#corps');
    projets = document.querySelectorAll('#projet');
    auteurs = document.querySelectorAll('#auteur');

    // envoyer le commentaire
    
    // click sur le bouton envoyer
    for (let i = 0; i < comForms.length; i++) {
        comForms[i].addEventListener("click", function(e){
            e.preventDefault();
            //alert(projets[i].value);
            $.ajax({
                type:'POST',
                url:'CommentPost',
                data:{
                    projet:projets[i].value,
                    auteur:auteurs[i].value,
                    corps:corps[i].value,
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data){
                    // alert(data);
                    corps[i].value = '';
                },
                error: function(response){
                    alert('An error occured')
                }
            });
        });
    }

    // click sur le bouton Enter
    for (let i = 0; i < comForms.length; i++) {
        listcomForms[i].addEventListener("submit", function(e){
            e.preventDefault();
            // alert(projets[i].value);
            $.ajax({
                type:'POST',
                url:'CommentPost',
                data:{
                    projet:projets[i].value,
                    auteur:auteurs[i].value,
                    corps:corps[i].value,
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data){
                    // alert(data);
                    corps[i].value = '';
                },
                error: function(response){
                    alert('An error occured')
                }
            });
        });
    }

    // raffraichir la liste des commentaires

    listComments = document.querySelectorAll('.chat');

    $(document).ready(function(){

        setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "{% url 'getComments' %}",
                success: function(response){
                    for (let i = 0; i < listComments.length; i++) {
                        $("#comments"+projets[i].value).empty();
                        
                        for (var key in response.comments){
                            if(projets[i].value == response.comments[key].id_projet){
                                // si utilisateur connecté
                                if(response.comments[key].auteur == "{{request.user.username}}"){
                                    temp = "<div class='.disc-right d-flex align-items-baseline text-end justify-content-end'>"
                                            +"<div class='right-messages'><span class='card card-text-right d-inline-block text-start py-1 px-3 me-1'>"
                                            +response.comments[key].corps
                                            +"</span><br><div class='me-2'><span class='text-muted'>"+response.comments[key].date_added+"</span>"
                                            +"</div><br></div></div>";
                                }else{
                                    temp1 = "<div class='.disc-left d-flex align-items-start text-start justify-content-start'>";
                                    "{% for usr in userList %}"
                                        if ("{{usr.username}}" == response.comments[key].auteur) {
                                            "{% if usr.etudiant.id %}"
                                                temp2 = "<div><div class='avatar'><img src='{{usr.etudiant.photoProfil.url}}'></div></div>"
                                            "{% else %}"
                                                temp2 = "<div><div class='avatar'><img src='{{usr.investisseur.photoProfil.url}}'></div></div>"
                                            "{% endif %}"
                                        }
                                    "{% endfor %}"
                                    temp3 = "<div class='left-messages'><span class='card card-text-left d-inline-block py-1 px-3 ms-1'>"
                                            +response.comments[key].corps
                                            +"</span><br><div class='ms-2 my-1'><span class='text-muted'>"
                                            +"<span class='btn-reply-comment'>Répondre</span>&emsp;"+response.comments[key].date_added+"</span></div><br>"
                                            +"</div></div>";
                                    temp = temp1+temp2+temp3;
                                }
                                $("#comments"+projets[i].value).append(temp);
                            }
                        }
                        // refreshFav();
                    }
                    // obtenir la le nombre de commentaire d'une publication
                    for (let i = 0; i < projets.length; i++) {
                        $("#nb_com"+projets[i].value).empty();
                        nb = 0
                        tem1 = ''
                        for (var key in response.comments){
                            
                            if(projets[i].value == response.comments[key].id_projet){
                                nb = nb + 1
                                if(nb > 1){
                                    tem = "<i class='uil uil-comment-dots icon-toggle-comments'></i>"
                                    +"<span class='text-muted text-small'> "+nb+ " commentaires</span>"
                                    tem1 = tem
                                }else{
                                    tem = "<i class='uil uil-comment-dots icon-toggle-comments'></i>"
                                    +"<span class='text-muted text-small'> "+nb+ " commentaire</span>"
                                    tem1 = tem
                                }
                                
                            }
                            else{
                                tem = "<i class='uil uil-comment-dots icon-toggle-comments'></i>"
                                  +"<span class='text-muted text-small'> "+nb+ " commentaire</span>"
                                  tem1 = tem
                            }
                            
                        }
                        $("#nb_com"+projets[i].value).append(tem1);
                        
                    }
                
                },
                error: function(response){
                    alert('An error occured')
                }
            });
        },2000);
    })
</script>
{% endblock %}
