{% extends 'base-accueil.html' %}
{% load static %}

{% block title %} FindIvest | Accueil {% endblock %}

{% block content %}
  

<!-- ============== NAV ================= -->
<nav>
    <div class="container">
        <!-- <h2 class="log">
            FindInvest
        </h2> -->
        <h2 class="log">
            <span style="opacity: 0; visibility: hidden;">FindInvest</span>
            <img src="./images/logo1.png" alt="">
        </h2>
        <div class="search-bar">
            <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
            <i class="uil uil-search"></i>
            <input type="search" name="" id="" placeholder="Rechercher...">
        </div>
        <div class="create">
            <label class="btn btn-primary" for="create-post">Create</label>
            <div class="profile-photo">
                <img src="./images/profile-1.jpg" alt="">
            </div>
        </div>
    </div>
</nav>

<!-- ============== MAIN ================= -->
<main>
    <div class="container">
        <!-- ============== LEFT =============== -->
        <div class="left">
            <a class="profile">
                <div class="profile-photo">
                    <img src="./images/profile-1.jpg" alt="">
                </div>
                <div class="handle">
                    <h4>Tom michel</h4>
                    <p class="text-muted">@tOm</p>
                </div>
            </a>

            <!-- ---------- sidebar ---------- -->
            <div class="sidebar">
                <!-- <a class="menu-item active">
                    <span><i class="uil uil-home"></i></span><h3>Home</h3>
                </a> -->
                <a class="menu-item" id="messages-notifications">
                    <span><i class="uil uil-envelope"><small class="notifications-count">6</small></i></span><h3>Messages</h3>
                </a>
                <a class="menu-item" id="notifications">
                    <span><i class="uil uil-bell"><small class="notifications-count">9+</small></i></span><h3>Notifications</h3>
                    <!-- ------------ notifications popup -------------- -->
                    <div class="notifications-popup">
                        <div>
                            <div class="profile-photo">
                                <img src="./images/tm.jpg" alt="">
                            </div>
                            <div class="notifications-body">
                                <b>Flavie Daniella</b> commened on your post
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                        </div>
                        <div>
                            <div class="profile-photo">
                                <img src="./images/profile-3.jpg" alt="">
                            </div>
                            <div class="notifications-body">
                                <b>Mengue Victor</b> liked your post
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                        </div>
                        <div>
                            <div class="profile-photo">
                                <img src="./images/profile-4.jpg" alt="">
                            </div>
                            <div class="notifications-body">
                                <b>Nguete Dave</b> commened on your post
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                        </div>
                        <div>
                            <div class="profile-photo">
                                <img src="./images/profile-5.jpg" alt="">
                            </div>
                            <div class="notifications-body">
                                <b>Bikim Yvelos</b> liked your post
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                        </div>
                        <div>
                            <div class="profile-photo">
                                <img src="./images/profile-6.jpg" alt="">
                            </div>
                            <div class="notifications-body">
                                <b>Tom Michel</b> commened on a post you are tagged
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                        </div>
                    </div>
                    <!-- ------------ end notifications popup -------------- -->
                </a>
                <a class="menu-item">
                    <span><i class="uil uil-folder"></i></span><h3>Mes projets</h3>
                </a>
                <a class="menu-item">
                    <span><i class="uil uil-folder-heart"></i></span><h3>Mes favoris</h3>
                </a>
                <a class="menu-item">
                    <span><i class="uil uil-users-alt"></i></span><h3>Abonnées</h3>
                </a>
                <a class="menu-item" id="theme">
                    <span><i class="uil uil-palette"></i></span><h3>Thème</h3>
                </a>
                <!-- <a class="menu-item">
                    <span><i class="uil uil-setting"></i></span><h3>Paramètres</h3>
                </a> -->
            </div>

            <!-- ------------ end of sidebar --------- -->
            <label class="btn btn-primary" for="create-post">Create post</label>
        </div>
        <!-- ============== END OF LEFT =============== -->


        <!-- ============== MIDDLE =============== -->
        <div class="middle">
            <!-- ---------- stories --------------- -->
            <!-- <div class="stories">
                <div class="story">
                    <div class="profile-photo">
                        <img src="{% static 'images/profile-1.jpg' %}" alt="">
                    </div>
                    <p class="name">Flavie Daniella</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="./images/profile-11.jpg" alt="">
                    </div>
                    <p class="name">Bikim Yvelos</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="./images/profile-12.jpg" alt="">
                    </div>
                    <p class="name">Nguete Dave</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="./images/profile-13.jpg" alt="">
                    </div>
                    <p class="name">Nguete Dave</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="./images/profile-13.jpg" alt="">
                    </div>
                    <p class="name">Nguete Dave</p>
                </div>
               <div class="story">
                    <div class="profile-photo">
                        <img src="./images/profile-8.jpg" alt="">
                    </div>
                    <p class="name">Tom Michel</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="./images/profile-9.jpg" alt="">
                    </div>
                    <p class="name">Mengue Victor</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="./images/profile-10.jpg" alt="">
                    </div>
                    <p class="name">Flavie Daniella</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="./images/profile-11.jpg" alt="">
                    </div>
                    <p class="name">Bikim Yvelos</p>
                </div>
                <div class="story">
                    <div class="profile-photo">
                        <img src="./images/profile-12.jpg" alt="">
                    </div>
                    <p class="name">Nguete Dave</p>
                </div>
           
                <div class="story">
                    <div class="profile-photo">
                        <img src="./images/profile-13.jpg" alt="">
                    </div>
                    <p class="name">Nguete Dave</p>
                </div>
            </div> -->
            <!-- ---------- end of stories --------------- -->
            <form class="create-post">
                <div class="profile-photo">
                    <img src="./images/profile-1.jpg" alt="">
                </div>
                <input type="search" name="" id="create-post" placeholder="Une idée de projet ?">
                <input type="submit" value="Poster" class="btn btn-primary">
            </form>

            <!-- ------------ posts --------------- -->
            <div class="posts">
                <!-- ------------ post 1 --------------- -->
                <div class="post">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="./images/profile-14.jpg" alt="">
                            </div>
                            <div class="autor">
                                <h3>Tom Michel - Informatique</h3>
                                <!-- <h5>Application de gestion des tontines</h5> -->
                                <small>Yaoundé, 15 MINUTES AGO</small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i> 
                        </span>
                    </div>

                    <div class="photo">
                        <img src="./images/feed-1.jpg" alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
                        </div>
                        <div class="favorite">
                            <span><i class="uil uil-favorite"></i></span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="./images/profile-15.jpg" alt=""></span>
                        <span><img src="./images/profile-16.jpg" alt=""></span>
                        <span><img src="./images/profile-18.jpg" alt=""></span>
                        <p>Aimé par <b>Tom Michel</b> et <b>321 autres</b></p>
                    </div>

                    <div class="caption">
                        <b>Tom Michel</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. <span class="hash-tag">#génie</span>
                    </div>

                    <div class="comments text-muted">
                        Voir tous les 120 commentaires
                    </div>
                </div>

                <!-- ------------ post 2 --------------- -->
                <div class="post">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="./images/profile-15.jpg" alt="">
                            </div>
                            <div class="autor">
                                <h3>Tom Michel - Informatique</h3>
                                <!-- <h5>Application de gestion des tontines</h5> -->
                                <small>Yaoundé, 15 MINUTES AGO</small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i> 
                        </span>
                    </div>

                    <div class="photo">
                        <img src="./images/feed-2.jpg" alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
                        </div>
                        <div class="favorite">
                            <span><i class="uil uil-favorite"></i></span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="./images/profile-15.jpg" alt=""></span>
                        <span><img src="./images/profile-16.jpg" alt=""></span>
                        <span><img src="./images/profile-18.jpg" alt=""></span>
                        <p>Aimé par <b>Tom Michel</b> et <b>321 autres</b></p>
                    </div>

                    <div class="caption">
                        <b>Tom Michel</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. <span class="hash-tag">#génie</span>
                    </div>

                    <div class="comments text-muted">
                        Voir tous les 120 commentaires
                    </div>
                </div>

                <!-- ------------ post 3 --------------- -->
                <div class="post">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="./images/profile-16.jpg" alt="">
                            </div>
                            <div class="autor">
                                <h3>Tom Michel - Informatique</h3>
                                <!-- <h5>Application de gestion des tontines</h5> -->
                                <small>Yaoundé, 15 MINUTES AGO</small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i> 
                        </span>
                    </div>

                    <div class="photo">
                        <img src="./images/feed-3.jpg" alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
                        </div>
                        <div class="favorite">
                            <span><i class="uil uil-favorite"></i></span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="./images/profile-15.jpg" alt=""></span>
                        <span><img src="./images/profile-16.jpg" alt=""></span>
                        <span><img src="./images/profile-18.jpg" alt=""></span>
                        <p>Aimé par <b>Tom Michel</b> et <b>321 autres</b></p>
                    </div>

                    <div class="caption">
                        <b>Tom Michel</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. <span class="hash-tag">#génie</span>
                    </div>

                    <div class="comments text-muted">
                        Voir tous les 120 commentaires
                    </div>
                </div>

                <!-- ------------ post 4 --------------- -->
                <div class="post">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="./images/profile-17.jpg" alt="">
                            </div>
                            <div class="autor">
                                <h3>Tom Michel - Informatique</h3>
                                <!-- <h5>Application de gestion des tontines</h5> -->
                                <small>Yaoundé, 15 MINUTES AGO</small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i> 
                        </span>
                    </div>

                    <div class="photo">
                        <img src="./images/feed-4.jpg" alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
                        </div>
                        <div class="favorite">
                            <span><i class="uil uil-favorite"></i></span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="./images/profile-15.jpg" alt=""></span>
                        <span><img src="./images/profile-16.jpg" alt=""></span>
                        <span><img src="./images/profile-18.jpg" alt=""></span>
                        <p>Aimé par <b>Tom Michel</b> et <b>321 autres</b></p>
                    </div>

                    <div class="caption">
                        <b>Tom Michel</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. <span class="hash-tag">#génie</span>
                    </div>

                    <div class="comments text-muted">
                        Voir tous les 120 commentaires
                    </div>
                </div>

                <!-- ------------ post 5 --------------- -->
                <div class="post">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="./images/profile-19.jpg" alt="">
                            </div>
                            <div class="autor">
                                <h3>Tom Michel - Informatique</h3>
                                <!-- <h5>Application de gestion des tontines</h5> -->
                                <small>Yaoundé, 15 MINUTES AGO</small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i> 
                        </span>
                    </div>

                    <div class="photo">
                        <img src="./images/feed-5.jpg" alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-dots"></i></span>
                            <span><i class="uil uil-share-alt"></i></span>
                        </div>
                        <div class="favorite">
                            <span><i class="uil uil-favorite"></i></span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="./images/profile-15.jpg" alt=""></span>
                        <span><img src="./images/profile-16.jpg" alt=""></span>
                        <span><img src="./images/profile-18.jpg" alt=""></span>
                        <p>Aimé par <b>Tom Michel</b> et <b>321 autres</b></p>
                    </div>

                    <div class="caption">
                        <b>Tom Michel</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. <span class="hash-tag">#génie</span>
                    </div>

                    <div class="comments text-muted">
                        Voir tous les 120 commentaires
                    </div>
                </div>
            </div>
            <!-- ------------ end posts --------------- -->
        </div>
        <!-- ============== END OF MIDDEL =============== -->

        <!-- ============== RIGHT =============== -->
        <div class="right">
            <!-- -------- catégories ---------- -->
            <div class="categories">
                <div class="heading">
                   <h4>Projets</h4>
                   <i class="uil uil-0-plus"></i>
                </div>

                <!-- ---------- search bar ------------- -->
                <div class="search-bar">
                    <i class="uil uil-search"></i>
                    <input type="search" name="" id="category-search" placeholder="Rechercher...">
                </div>
                <!-- -------- project categrories --------- -->
                <div class="category">
                   <h6 class="active">Types</h6>
                   <h6>Plus Aimés</h6>
                   <h6 class="invest-projects">Investis(6)</h6>
                </div>
                <!-- ----------- projects lines ------------ -->
                <div class="project-line">
                    <!-- <div class="profile-photo">
                        <img src="./images/profile-9.jpg" alt="">
                    </div> -->
                    <div class="project-body">
                        <h5>Informatique</h5>
                        <p class="text-muted">10 projets publiés</p>
                    </div>
                    <span class="">
                        <i class="uil uil-direction"></i>
                        <!-- <i class="uil uil-arrow-circle-down"></i> -->
                    </span>
                </div>

                <!-- ----------- projects lines ------------ -->
                <div class="project-line">
                    <div class="project-body">
                        <h5>Santé</h5>
                        <p class="text-muted">10 projets publiés</p>
                    </div>
                    <span class="">
                        <i class="uil uil-direction"></i>
                    </span>
                </div>

                <!-- ----------- projects lines ------------ -->
                <div class="project-line">
                    <div class="project-body">
                        <h5>Immobilier</h5>
                        <p class="text-muted">10 projets publiés</p>
                    </div>
                    <span class="">
                        <i class="uil uil-direction"></i>
                    </span>
                </div>

                <!-- ----------- projects lines ------------ -->
                <div class="project-line">
                    <div class="project-body">
                        <h5>Informatique</h5>
                        <p class="text-muted">10 projets publiés</p>
                    </div>
                    <span class="">
                        <i class="uil uil-direction"></i>
                    </span>
                </div>
            </div>
            <div>
                <!-- ----------- Discussions ------------ -->
                <div class="discussions">
                    <h4>Discussions</h4>
                    <div class="discussion">
                        <div class="info">
                            <div class="profile-photo">
                                <img src="./images/profile-14.jpg" alt="">
                            </div>
                            <div>
                                <span>
                                    <h5>Nom Investisseur (2)</h5>
                                </span>
                                <p class="text-muted">
                                    Application de recherche d'investissement
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="discussion">
                        <div class="info">
                            <div class="profile-photo">
                                <img src="./images/profile-17.jpg" alt="">
                            </div>
                            <div>
                                <span>
                                    <h5>Nom Investisseur (1)</h5>
                                </span>
                                <p class="text-muted">
                                    Application de recherche de répétiteur
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="discussion">
                        <div class="info">
                            <div class="profile-photo">
                                <img src="./images/profile-19.jpg" alt="">
                            </div>
                            <div>
                                <span>
                                    <h5>Nom Investisseur (2)</h5>
                                </span>
                                <p class="text-muted">
                                    Application de gestion des tontines
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <!-- ============== END OF RIGTH =============== -->
    </div>
</main>

<!-- ==================== THEME CUSTOMIZATION ======================= -->
<div class="customize-theme">
    <div class="carte">
        <span class="bt-close"><i class="uil uil-multiply" id="close_modal"></i></span>
        <h2>Changez votre affichage</h2>
        <p class="text-muted">Gérez vos texte, couleurs, et arrière-plan</p>

        <!-- -------------- font sizes ------------- -->
        <div class="font-size">                
            <h4>Taille de police</h4>
            <div>
                <h6>Aa</h6>
                <div class="choose-size">
                    <span class="font-size-1"></span>
                    <span class="font-size-2"></span>
                    <span class="font-size-3 active"></span>
                    <span class="font-size-4"></span>
                </div>
                <h3>Aa</h3>
            </div>
        </div>

        <!-- primary colors -->
        <div class="color">
            <h4>Couleurs</h4>
            <div class="choose-color">
                <span class="color-1 active"></span>
                <span class="color-2"></span>
                <span class="color-3"></span>
                <span class="color-4"></span>
            </div>
        </div>

        <!-- ----------- backgroung colors -->
        <div class="background">
            <h4>Arrière-plan</h4>
            <div class="choose-bg">
                <div class="bg bg-1 active">
                    <span></span>
                    <h5 for="bg-1">Clair</h5>
                </div>
                <div class="bg bg-2">
                    <span></span>
                    <h5 for="bg-2">Sombre</h5>
                </div>
                <div class="bg bg-3">
                    <span></span>
                    <h5 for="bg-3">Noir</h5>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
