{% extends 'base-accueil.html' %}
{% load static %}

{% block title %} FindInvest | Discussions {% endblock %}

{% block content %}

<!-- <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script> -->


<style>
    #discussionModal{
        background: rgba(0, 0, 0, 0.5) !important;
    }

    .info{
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        cursor: pointer;
    }
    .info p{
        font-size: 0.8rem;
    }

    .chat {
        border-top: none !important;
    }
    h5{
        font-size: 1rem;
    }

    .modal-header{
        align-items: start;
    }
</style>

<div class="modal fade show" id="discussionModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <!-- -----------titre de la discussion-------------- -->
                <div class="titre">
                    
                    {% for r in roomList %}
                        {% if r.id == room_details.id %}
                            {% if r.inv.user.username == request.user.username %}
                                    <div class="info">
                                        <div class="profile-photo">
                                        {% for u in userList %}
                                            {% if u.username == r.etu.user.username %}
                                            <img src="{{u.etudiant.photoProfil.url}}" alt="">
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                        <a href="/{{r.name}}/?username={{request.user.username}}">
                                            <div>
                                                <span>
                                                    <h5>{{r.etu.user.last_name}}</h5>
                                                </span>
                                                <p class="text-muted mb-0">
                                                    {{r.name|truncatechars:30}}
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                            {% else %}
                                {% if r.etu.user.username == request.user.username %}
                                        <div class="info">
                                            <div class="profile-photo">
                                            {% for u in userList %}
                                                {% if u.username == r.inv.user.username %}
                                                <img src="{{u.investisseur.photoProfil.url}}" alt="">
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                            <a href="/{{r.name}}/?username={{request.user.username}}">
                                                <div>
                                                    <span>
                                                        <h5>{{r.inv.user.last_name}}</h5>
                                                    </span>
                                                    <p class="text-muted mb-0">
                                                        {{r.name|truncatechars:30}}
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <i class="uil uil-multiply" onclick="history.back()"  data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
            </div>

            <!-- ----------liste des messages------------ -->
            <div class="modal-body">
                <div class="discussionMod active">
                    <div id="chat" class="chat pt-4">
                        <div class=".disc-left d-flex align-items-start text-start justify-content-start"  style="opacity: 0.2;">
                            <div>
                                <div class="avatar">
                                    <img src="{% static 'img/default.jpeg' %}">
                                </div>
                            </div>
                            <div>
                                <span class="card card-text-left d-inline-block py-3 px-5 ms-1">
                                    
                                </span>
                                <br>
                                <div class="ms-2">
                                    <span class="text-muted bg-secondary rounded px-4"></span>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="disc-right d-flex align-items-baseline text-end justify-content-end"  style="opacity: 0.2;">
                            <div class="right-messages">
                                <span class="card card-text-right d-inline-block text-start py-3 px-5 me-1">
                                    
                                </span>
                                <br>
                                <div class="me-2">
                                    <span class="text-muted bg-secondary rounded px-4"></span>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class=".disc-left d-flex align-items-start text-start justify-content-start"  style="opacity: 0.2;">
                            <div>
                                <div class="avatar">
                                    <img src="{% static 'img/default.jpeg' %}">
                                </div>
                            </div>
                            <div>
                                <span class="card card-text-left d-inline-block py-3 px-5 ms-1">
                                    
                                </span>
                                <br>
                                <div class="ms-2">
                                    <span class="text-muted bg-secondary rounded px-4"></span>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="disc-right d-flex align-items-baseline text-end justify-content-end"  style="opacity: 0.2;">
                            <div class="right-messages">
                                <span class="card card-text-right d-inline-block text-start py-3 px-5 me-1">
                                    
                                </span>
                                <br>
                                <div class="me-2">
                                    <span class="text-muted bg-secondary rounded px-4"></span>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ------------formulaire d'envoie de essage--------------- -->
                <div class="disc-send active">
                    <form id="post-form">
                        {% csrf_token %}
                        <input type="hidden" name="username" id="username" value="{{username}}"/>
                        <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
                        
                        <input type="text" name="message" id="message" placeholder="Votre message">
                        <div class="send">
                            <input type="submit" id="send-message" value="Envoer" hidden>
                            <label for="send-message"><i class="uil uil-message"></i></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- actualiser la liste des messages -->

<script>
    $(document).ready(function(){

        setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "/getMessages/{{room}}/",
                success: function(response){
                    // console.log(response);
                    $("#chat").empty();
                    for (var key in response.messages)
                    {
                        if(response.messages[key].user == "{{request.user.username}}"){
                            var temp="<div class='disc-right d-flex align-items-baseline text-end justify-content-end'>"
                                +"<div class='right-messages'>"
                                +"<span class='card card-text-right d-inline-block text-start py-1 px-3 me-1'>"
                                +response.messages[key].value
                                +"</span><br>"
                                +"<div class='me-2'>"
                                +"<span class='text-muted'>"
                                +response.messages[key].date+"</span></div><br></div></div>"
                            ;
                        }else{
                            
                            var temp1="<div class='.disc-left d-flex align-items-start text-start justify-content-start'>";
                            
                            if("{{usernameInvList}}".indexOf(response.messages[key].user) === -1){
                                var temp2="<div><div class='avatar'><img src="+response.photoEtu+"></div></div>";
                            }else{
                                var temp2="<div><div class='avatar'><img src="+response.photoInv+"></div></div>";
                            }
                            
                            var temp3="<div><span class='card card-text-left d-inline-block py-1 px-3 ms-1'>"
                                +response.messages[key].value
                                +"</span><br><div class='ms-2'><span class='text-muted'>"
                                +response.messages[key].date
                                +"</span></div><br></div></div>";

                            var temp=temp1+temp2+temp3;
                        }
                        $("#chat").append(temp);
                    }
                },
                error: function(response){
                    alert('An error occured')
                }
            });
        },1000);
    })
</script>


<!-- envoie d'un message -->
 
<script type="text/javascript">
    $(document).on('submit','#post-form',function(e){
        e.preventDefault();
  
        $.ajax({
            type:'POST',
            url:'/send',
            data:{
                username:$('#username').val(),
                room_id:$('#room_id').val(),
                message:$('#message').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(data){
                // alert(data)
            }
        });
        document.getElementById('message').value = ''
    });
</script>




<!-- ---------- copie de la page d'accueil --------------- -->

{% include "posts/accueil.html" %}



{% endblock %}