{% extends 'base.html' %}
{% load static %}

{% block title %} Réinitialiser du mot de passe | FindInvest {% endblock %}

{% block content %}

<style>
    .reussi{
        width: 300px;
    }
    img{
        width: 200px;
        height: auto;
    }
</style>

<center>
    <div class="reussi">
        <p><img src="{% static 'img/logo.png' %}" alt="" srcset=""></p>
        <p>
            <h2>Réinitialiser le Mot de Passe</h2>
        </p>
        <hr>
        <p class="infonotes text-center pt-2">
            Un email vous a été envoyé, veuillez le consulter et cliquez sur le lien pour réinitialiser votre mot de passe ! 
        </p>
        <p></p>
    </div>
</center>

{% endblock %}
