{% extends 'base.html' %}
{% load static %}

{% block title %} Réinitialiser du Mot de Passe | FindInvest {% endblock %}

{% block content %}

<style>
    .formu{
        height: 100vh;
        display: flex;
        justify-content: center;
        position: relative;
    }
    img{
        width: 200px;
        height: auto;
    }

    .formu form{
        width: 300px;
    }
    
</style>

<div class="formu">
    <form action="" method="post">
        {% csrf_token %}
        
        <div class="text-center">
            <p><img src="{% static 'img/logo.png' %}" alt="" srcset=""></p>
            <p>
                <h2>Réinitialiser le Mot de Passe</h2>
            </p>
            <hr>
        </div>

        <p>
            <label for="id_new_password1">Nouveau mot de passe&nbsp;:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
        </p>

        <p>
            <label for="id_new_password2">Confirmation du nouveau mot de passe&nbsp;:</label>
            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
        </p>
        {% if form.new_password2.errors %}
            <span class="errornotes">{{form.new_password2.errors}}</span>
        {% endif %}


        <p>
            <input class="btn-bleu mt-5" type="submit" value="Envoyer">
        </p>
    </form>
</div>


{% endblock %}


