{% extends 'base.html' %}
{% load static %}

{% block title %} Changement éffectué | FindInvest {% endblock %}

{% block content %}

<style>
    .reussi{
        width: 300px;
    }
    img{
        width: 200px;
        height: auto;
    }
</style>

<center>
    <div class="reussi">
        <p><img src="{% static 'img/logo.png' %}" alt="" srcset=""></p>
        <p>
            <h2>Changement de Mot de Passe</h2>
        </p>
        <hr>
        <p class="infonotes text-center pt-2">
            Mot de passe modifié avec succès !
        </p>
        <p></p>
        <p>
            <a class="mt-5" href="{% url 'accueil' %}">retour à l'accueil</a>
        </p>
    </div>
</center>

{% endblock %}
