{% extends 'base.html' %}
{% load static %}

{% block title %} Réinitialisation du mot de passe | FindInvest {% endblock %}

{% block content %}

<style>
    .reussi{
        width: 300px;
    }
    img{
        width: 200px;
        height: auto;
    }
</style>

<center>
    <div class="reussi">
        <p><img src="{% static 'img/logo.png' %}" alt="" srcset=""></p>
        <p>
            <h2>Réinitialiser le Mot de Passe</h2>
        </p>
        <hr>
        <p class="infonotes text-center pt-2">
            votre mot de passe a été réinitialiser avec succès ! 
        </p>
        <p></p>
        <p>
            <a class="mt-5" href="{% url 'connexion' %}">Se connecter</a>
        </p>
    </div>
</center>

{% endblock %}
