@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

:root {
    /* for color theme */
    --color-hue_1: 216;
    --color-hue_2: 90%;
    --color-hue_3: 44%;

    /* for background theme */
    --color-light-lightness: 95%;
    --color-dark-lightness: 17%;
    /* --color-black-lightness: 10%; */
    --color-white-lightness: 100%;


    --color-white: hsl(252, 30%, var(--color-white-lightness));
    --color-light: hsl(252, 30%, var(--color-light-lightness));
    --color-gray: hsl(252, 15%, 65%);
    /* --color-primary: hsl(252, 75%, 60%); */
    --color-primary: hsl(var(--color-hue_1), var(--color-hue_2),var(--color-hue_3));
    --color-orange: hsl(27,100%,59%);
    --color-rouge: hsl(347,100%,50%);
    --color-vert: hsl(120, 95%, 40%);
    --color-bleu: #0b5ed7;
    /* --color-orange: #ff8c2e;
    --color-rouge: #FF0037;
    --color-vert: #51FB51; */
    --color-secondary: hsl(252, 100%, 90%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--color-dark-lightness));
    --color-black: hsl(252, 30%, var(--color-black-lightness));

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif !important;
    color: var(--color-dark) !important;
    background: var(--color-light);
    overflow-x: hidden;
}

h1, h2, h3,
h4, h5, h6, a{
    color: var(--color-dark);
    margin-bottom: 0;
}


/* general styles */

/* .container {
    width: 80% !important;
    margin: 0 auto;
} */

.profile-photo{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img{
    display: block;
    width: 100%;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    border: none;
}

.btn:hover{
    opacity: 0.8;
    background-color: var(--color-primary) !important;
}

.btn-primary{
    background-color: var(--color-primary) !important;
    color: #fff;

}

.text-bold{
    font-weight: 500;
}

.text-muted{
    color: var(--color-gray);
}



/* =============== NAVBAR ================== */

nav{
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .log{
    position: relative;
    margin-bottom: 0 !important;
}

nav .log img{
    position: absolute;
    width: 10rem;
    top: -1.5rem;
}

.search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 0.9rem;
    color: var(--color-dark);
    border: none;
}

nav .search-bar input[type="search"]::placeholder{
    color: var(--color-gray);
}

nav .create{
    display: flex;
    align-items: center;
    gap: 2rem;
}


/* ============== MAIN ================ */

main{
    position: relative;
    top: 5.4rem;
}

main .container{
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}



/* ========================= LEFT ======================= */

main .container .left{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
}

main .container .left .profile{
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}


main .container .left .profile .handle h4{
    /* color: blue !important; */
    font-size: 1rem !important;
}

main .container .left .profile .handle p{
    margin-bottom: 0;
}


/* ---------- sidebar ----------- */

.left .sidebar{
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item{
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sidebar .menu-item:hover{
    background: var(--color-light);

    color: var(--color-dark);
}

.left .sidebar i{
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left .sidebar i .notifications-count{
    background: var(--color-primary);
    color: #fff;
    font-size: 0.7rem;
    border-radius: 0.8rem;
    padding: 0.1rem .4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
}

.left .sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.left .sidebar .active{
    background: var(--color-light);
}

.left .sidebar .active i, .left .sidebar .active h3{
    color: var(--color-primary);
}

.left .sidebar .active::before{
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active{
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .sidebar .menu-item:last-child.active{
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .btn{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}


/* --------------- notification popup ---------------- */

.left .notifications-popup{
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60% 25%);
    z-index: 8;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.39);
    display: none;
}

.left .notifications-popup::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--color-white);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.left .notifications-popup > div{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.left .notifications-popup small{
    display: block;
}


/* =================== MIDDLE =================== */

.middle .stories{
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;
}

.middle .stories .story{
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 0.7rem;
    width: 100%;
    background: #0d6efd;
    position: relative;
    overflow: hidden;
}

.middle .stories .story::before{
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    position: absolute;
    bottom: 0;
}

.middle .stories .story .name{
    z-index: 2;
    margin-bottom: 0;
}

.middle .stories .story:nth-child(1){
    background: url('./images/story-1.jpg')
    no-repeat center center/cover;
}

.middle .stories .story:nth-child(2){
    background: url('./images/story-2.jpg')
    no-repeat center center/cover;
}

.middle .stories .story:nth-child(3){
    background: url('./images/story-3.jpg')
    no-repeat center center/cover;
}

.middle .stories .story:nth-child(4){
    background: url('./images/story-4.jpg')
    no-repeat center center/cover;
}

.middle .stories .story:nth-child(5){
    background: url('./images/story-5.jpg')
    no-repeat center center/cover;
}

.middle .stories .story:nth-child(6){
    background: url('./images/story-6.jpg')
    no-repeat center center/cover;
}

.middle .story .profile-photo{
    width: 2rem;
    height: 2rem;
    align-self: start;
    border:  3px solid var(--color-primary);
}


/*  ------------- create post ------------------- */

.middle .create-post{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.middle .create-post input[type="search"]{
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;

    border: none;
}


/* ------------------ posts posts ------------ */

.middle .posts .post{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .posts .post .head h3 {
    font-size: 1.18em;
    font-weight: 600;
}

.middle .posts .post .head h5 {
    font-size: 0.8rem;
    font-weight: 600;
}

.middle .posts .post .head{
    display: flex;
    justify-content: space-between;
}

.middle .posts .post .head .user{
    display: flex;
    gap: 1rem;
}

.middle .posts .post .photo{
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.middle .posts .post .action-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.middle .posts .post .liked-by{
    display: flex;
}

.middle .posts .post .liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.middle .posts .post .liked-by span:first-child{
    margin: 0;
}

.middle .posts .post .liked-by p{
    margin-left: 0.5rem;
}


/* ================= RIGHT ======================== */

main .container .right{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-right);
    bottom: 0;
}

/* --------- catégories --------- */

.right .categories{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .categories .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.right .categories .heading h4, .right .discussions h4{
    font-size: 1.2rem;
    font-weight: 600;
}

.right .categories .search-bar{
    display: flex;
    margin-bottom: 1rem;
    /* overflow: hidden; */
}

.right .categories .search-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 0.5rem;
    color: var(--color-dark);
    border: none;
    font-size: 0.8rem;
}

.right .categories .category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.right .categories .category h6{
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--color-light);
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.right .categories .category .active{
    border-color: var(--color-dark);
}

.right .categories 
.category .invest-projects{
    color: var(--color-primary);
}

.right .categories .project-line{
    display: flex;
    /* gap: 1rem; */
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.right .categories .project-line:last-child{
    margin-bottom: 0;
}

.right .categories .project-line i{
    font-size: 1.2rem;
}

.right .categories .project-line h5,
.right .discussion span h5{
    font-size: 0.9rem;
    font-weight: 600;
}

.right .categories .project-line p{
    font-size: 0.8rem;
    margin-bottom: 0;
}


/* ---------- discussions ----------- */

.right .discussions h4{
    color: var(--color-gray);
    margin: 1rem 0;
}

.right .discussion{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}

.right .discussion .info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .discussion .info:last-child{
    margin-bottom: 0;
}

.right .discussion .info p{
    font-size: 0.8rem;
}



/* ================ THEME CUSTOMMIZATION ================ */

.customize-theme{
    /* background: rgba(255, 255, 255, 0.5); */
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 0.9rem !important;

    display: none;
}

.customize-theme .carte{
    background: var(--color-white);
    padding: 2rem 3rem 3rem;
    border-radius: var(--card-border-radius);
    width: 50%;
    box-shadow: 0 0 1rem var(--color-primary);
}

.customize-theme .carte .bt-close{
    display: flex;
    justify-content: end;
    position: relative;
    top: -10px;
    right: -20px;
    font-size: 1.5rem;
}
.customize-theme .carte .bt-close i{
    cursor: pointer;
}

.customize-theme .carte h2{
    font-size: 1.45rem;
    font-weight: 600;
}
.customize-theme .carte p{
    font-size: 0.9rem;
    font-weight: 600;
}
.customize-theme .carte h4{
    font-size: 0.9rem;
    font-weight: 600;
}
.customize-theme .carte h5{
    font-size: 0.8rem;
    font-weight: 600;
}


/* ------------- font size --------------- */

.customize-theme .font-size{
    margin-top: 3rem;
}

.customize-theme .font-size > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
}

.customize-theme .choose-size{
    background: var(--color-secondary);
    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-theme .choose-size span{
    width: 1rem;
    height: 1rem;
    background: var(--color-secondary);
    border-radius: 50%;
    cursor: pointer;
}

.customize-theme .choose-size span.active{
    background: var(--color-primary);
    width: 1.2rem;
    height: 1.2rem;
}


/* --------------- primamry colors -------------------- */

.customize-theme .color{
    margin-top: 2rem;
}

.customize-theme .choose-color{
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.customize-theme .choose-color span{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    cursor: pointer;
}

.customize-theme .choose-color span:nth-child(1){
    background: var(--color-bleu);
}

.customize-theme .choose-color span:nth-child(2){
    background: var(--color-orange);
}

.customize-theme .choose-color span:nth-child(3){
    background: var(--color-rouge);
}

.customize-theme .choose-color span:nth-child(4){
    background: var(--color-vert);
}

.customize-theme .choose-color span.active{
    border: 5px solid #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.568);
}


/* ------------------ bacground ------------------------- */

.customize-theme .background{
    margin-top: 2rem;
}
.customize-theme .choose-bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.customize-theme .choose-bg > div{
    padding: var(--card-padding);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
    height: 3rem;
}

.customize-theme .choose-bg > div.active{
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.452);
}

.customize-theme .choose-bg .bg-1{
    background: white;
}

.customize-theme .choose-bg .bg-2{
    background: hsl(252, 30%, 17%);
}
.customize-theme .choose-bg .bg-2 h5{
    color: white;
}

.customize-theme .choose-bg .bg-3{
    background: hsl(252, 30%, 10%);
}

.customize-theme .choose-bg .bg-1 h5{
    color: black;
}
.customize-theme .choose-bg .bg-3 h5{
    color: white;
}

.customize-theme .choose-bg > div span {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-gray);
    margin-right: 0.8rem;
    border-radius: 50%;
}



/* 
===================================
MEDIA QUERIES FOR SMAL LAPTOP AND BIG TABLETS 
===================================*/

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .container{
        width: 96% !important;
    }


    main .container{
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem;
    }

    .left{
        width: 5rem;
        z-index: 5;
    }

    main .container .left .profile{
        display: none;
    }

    .sidebar h3{
        display: none;
    }

    .left .btn{
        display: none;
    }

    .customize-theme .carte{
        width: 70vw;
    }
}


/* 
===================================
MEDIA QUERIES FOR SMAL TABLETS
===================================*/

@media screen and (max-width: 991px) and (min-width: 768px) {
    nav .log img{
        position: absolute;
        width: 8rem;
        top: -1rem;
        left: -1rem;
    }

    main .container{
        grid-template-columns: auto auto 8rem;
        gap: 0 !important;

        width: 80% !important;
    }

    main .container .right{
        display: none;
    }


    main .container .left{
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    main .container .left .profile{
        display: none;
    }

    .sidebar h3{
        display: block;
    }

    .left .btn{
        display: none;
    }

    .left{
        width: 13rem;
        z-index: 5;
    }

    .left .sidebar i{
        font-size: 1.4rem;
        color: var(--color-gray);
        margin-left: 1rem;
        position: relative;
    }

    .left .sidebar .menu-item{
        height: 4rem;
    }

    .left .sidebar{
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.479);
    }
}



/* 
===================================
MEDIA QUERIES FOR MOBILE PHONES
===================================*/

@media screen and (max-width: 767px) {
    
    nav .search-bar {
        display: none;
    }

    nav .log img{
        position: absolute;
        width: 8rem;
        top: -1rem;
        left: -1rem;
    }

    nav .create{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-right: 10px;
    }

    main .container{
        grid-template-columns: 90vw auto 5rem;
        gap: 0 !important;

        width: 80%;
        margin: 0 20px 0 0;
    }

    main .container .right{
        display: none;
    }


    main .container .left{
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    main .container .left .profile{
        display: none;
    }

    .sidebar h3{
        display: none;
    }

    .left .btn{
        display: none;
    }

    .left{
        width: 4rem;
        z-index: 5;
    }

    .left .sidebar i{
        font-size: 1.4rem;
        color: var(--color-gray);
        margin-left: 1rem;
        position: relative;
    }
    
    .left .sidebar .menu-item{
        height: 3.5rem;
        opacity: 1;
    }

    .left .sidebar{
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.479);
    }


    /* ----------- notification popup ----------- */

    .left .notifications-popup{
        position: absolute;
        left: -17rem;
        width: 18rem;
    }

    .left .notifications-popup .notifications-body{
        font-size: 0.8rem;
    }

    .left .notifications-popup::before{
        display: absolute;
        top: 1.3rem;
        left: calc(20rem - 2.6rem);
        display: block;
    }

    
    
    .customize-theme .carte .bt-close{
        right: -10px;
        font-size: 1.5rem;
    }

    .customize-theme .carte{
        width: 90vw;
        padding: 2rem 2rem 3rem;
    }
    
    .customize-theme .choose-bg > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        font-size: 1rem;
        height: auto;
    }


}

