{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        
        <title> {% block title %}  {% endblock %} </title>

    </head>
    <body class="bg-light">
        {% block header %} 

        <!--  ============== Navbar Start ========================-->
          
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow bg-light align-items-center">
              <div class="container">
                <a class="navbar-brand logo" href="{% url 'accueil' %}">FindRepeater</i></a>
                <div class="separer"></div>
                
                <span id="menuO" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="bi-list"></i>
                </span>
                <span id="menuC" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="bi-x-lg"></i>
                </span>
                
                <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'accueil' %}">Accueil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'recherche_repetiteur' %}">Rechercher un prof</a>
                    </li>
                    <li class="nav-item" id="lien_devProf">
                      <a class="nav-link" href="{% url 'enregistrement_prof' %}">Devenir prof</a>
                    </li>
                    <li class="nav-item" id="lien_inscrip">
                      <a type="button" class="nav-link btn-register" data-bs-toggle="modal" data-bs-target="#staticBackdrop">S'inscrire</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link btn-connexion" href="{% url 'connexion' %}">Connexion</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: orange;">
                          {{request.user.username}} 
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border: orange solid 2px;">
                          {% if user.username in listRep %}  
                            <li><a class="dropdown-item" href="{% url 'consulter_profil' %}"><i class="bi-person-lines-fill"></i> Mon profil</a></li>
                            <li><hr class="dropdown-divider" style="border: orange solid 2px;"></li>
                          {% endif %}
                          {% if user.username in listCli %}  
                            <li><a class="dropdown-item" href="{% url 'bienvenue' %}"><i class="bi-person"></i> Bienvenue</a></li>
                            <li><hr class="dropdown-divider" style="border: orange solid 2px;"></li>
                          {% endif %}
                            <li><a class="dropdown-item" href="{% url 'user_logout' %}"><i class="bi-box-arrow-right"></i> Logout</a></li>
                        </ul>
                      </li>
                      {% endif %}
                  </ul>
                </div>
              </div>
        </nav>
        <!-- Modal pour INSCRIPTION -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content"  style="border: rgb(56, 51, 133) solid 1px; box-shadow: 0 0 2rem rgb(56, 51, 133);">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">CRÉATION D'UN NOUVEAU COMPTE</h5>
              </div>
              <style>
                .cEleve, .cProf {
                  padding: 10px 20px;
                  box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
                }
                .cEleve {
                  background: #1da0f21f;
                }
                .cProf {
                  background: rgba(255, 166, 0, 0.11);
                }
                @media screen and (max-width: 767px) {
                  .cEleve {
                    margin-bottom: 20px;
                  }
                }
              </style>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row text-center">
                    <div class="col-md-6">
                      <div class="cEleve">
                        <p><b> Vous êtes Élève/Parent</b></p>
                        <p>Créez votre compte afin de voir les répétiteurs comptibles avec votre profil ou rechercher des recpétiteurs sur mesure</p>
                        <p><a class="btn-connexion" href="{% url 'enregistrement' %}">cliquez ici</a></p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="cProf">
                        <p><b>Vous êtes Répétiteur/Enseignant.e</b></p>
                        <p>Créez votre profil afin d'être visible par les personnes ayant besoin de vos services ou Partagez le avec votre entourage</p>
                        <p><a class="btn-connexion" href="{% url 'enregistrement_prof' %}">cliquez ici</a></p>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn-register annuler" data-bs-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

          <!-- Modal pour RECHERCHER D'UN REPETITEUR -->
          <div class="modal fade" id="typeRecherche" tabindex="-1" aria-labelledby="typeRechercheLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="typeRechercheLabel">RECHERCHE DE RÉPÉTITEURS</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
              <form action="" method="post">
                {% csrf_token %}

                <div class="modal-body">
                  <div class="container-fluid text-center">
                    <div class="row">
                      <div class="col-md-8 offset-md-2">
                        <div class="form-group">
                          <label for="typeRech">Critères de recherche</label>
                          <select class="form-control" name="typeRech" id="typeRech">
                            <option value="selected">-----------</option>
                            <option value="1">Tous les profs</option>
                            <option value="2">Matière + Ville</option>
                            <option value="3">Classe + Ville</option>
                            <option value="4">Matière + Classe + Ville</option>
                            <option value="5">Matière + Classe + Ville + Quartier</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <p id="indication" style="color: rgb(56, 51, 133) !important; font-style: italic; font-size: 13px;" class="text-center align-items-center mt-4">
                      <i style="font-size: 20px;" class="bi-question-circle"></i> 
                        Si une <b>classe ou matière ou ville ou quartier</b> n'apparaît pas dans la liste, alors aucun répétiteur avec cette information n'est encore enregistré !
                    </p>
                    <div class="row mt-2" id="form2">
                      <div class="col-md-5 offset-md-1 mt-3">
                        <div class="form-group">
                          <label for="matiere2">Matière</label>
                          <select class="form-control" name="matiere2" id="matiere2">
                            <option value="">matiere</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5 mt-3">
                        <div class="form-group">
                          <label for="ville2">Ville</label>
                          <select class="form-control" name="ville2" id="ville2">
                            <option value="">ville</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2" id="form3">
                      <div class="col-md-5 offset-md-1 mt-3">
                        <div class="form-group">
                          <label for="classe3">Classe</label>
                          <select class="form-control" name="classe3" id="classe3">
                            <option value="">classe</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5 mt-3">
                        <div class="form-group">
                          <label for="ville3">Ville</label>
                          <select class="form-control" name="ville3" id="ville3">
                            <option value="">ville</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2" id="form4">
                      <div class="col-md-5 offset-md-1 mt-3">
                        <div class="form-group">
                          <label for="matiere4">Matière</label>
                          <select class="form-control" name="matiere4" id="matiere4">
                            <option value="">matiere</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5 mt-3">
                        <div class="form-group">
                          <label for="classe4">Classe</label>
                          <select class="form-control" name="classe4" id="classe4">
                            <option value="">classe</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4 offset-md-4 mt-3">
                        <div class="form-group">
                          <label for="ville4">Ville</label>
                          <select class="form-control" name="ville4" id="ville4">
                            <option value="">ville</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2" id="form5">
                      <div class="col-md-5 offset-md-1 mt-3">
                        <div class="form-group">
                          <label for="matiere5">Matière</label>
                          <select class="form-control" name="matiere5" id="matiere5">
                            <option value="">matiere</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5 mt-3">
                        <div class="form-group">
                          <label for="classe5">Classe</label>
                          <select class="form-control" name="classe5" id="classe5">
                            <option value="">classe</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5 offset-md-1 mt-3">
                        <div class="form-group">
                          <label for="ville5">Ville</label>
                          <select class="form-control" name="ville5" id="ville5">
                            <option value="">ville</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5 mt-3">
                        <div class="form-group">
                          <label for="quartier5">Quartier</label>
                          <select class="form-control" name="quartier5" id="quartier5">
                            <option value="">quartier</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <input class="btn-connexion" type="submit" value="Rechercher">
                  <button type="button" class="btn-register annuler" data-bs-dismiss="modal">Annuler</button>
                </div>
              </form>
              </div>
            </div>
          </div>
        
        <!--  ============== Navbar End ========================-->
        
        {% endblock %}

	      {% block content %} 

        {% endblock %}

        {% block footer %}

        <!-- Start Footer -->
        
        <footer id="footer" class="bg-white">
            <div class="footer-top">
              <div class="container">
                <div class="row">
        
                  <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>FindRrepeater</h3>
                    <p>
                      Yaoundé, NY 535022<br>
                      Cameroun <br><br>
                      <strong>Phone:</strong> 656155527<br>
                      <strong>Email:</strong> info@example.com<br>
                    </p>
                  </div>
        
                  <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Liens utiles</h4>
                    <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Acceuil</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Inscriptions</a></li>
                    </ul>
                  </div>
        
                  <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nos services</h4>
                    <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                      
                    </ul>
                  </div>
        
                  <div class="col-lg-4 col-md-6">
                    <h4>Rejoignez nous</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <div class="d-flex justify-content-end">
                        <div class="inscris py-2 px-3"><a href="{% url 'accueil' %}" class="text-decoration-none text-white">Je m'inscris</a></div>
                    </div>
                  </div>
        
                </div>
              </div>
            </div>
        
            <div class="container d-md-flex py-4">
        
              <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                  &copy; Copyright <strong><span>FindRepeater</span></strong>. All Rights Reserved
                </div>
              </div>
              <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
        </footer>
        
        <!-- <h1 id="footer">Footer</h1> -->
        

        
        <!-- End Footer -->

        {% endblock %}

        <!-- Bootstrap core JS-->
        
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
        <script src="../static/js/script.js"></script>
        <script src="../static/js/clipboard.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script>
          var selects = document.getElementsByTagName('select');
          for (let i = 0; i < selects.length; i++) {
            selects[i].classList.add('form-select');
            
          }

          // choix du formulaire de recherche

          var form2 = document.getElementById('form2');
          var form3 = document.getElementById('form3');
          var form4 = document.getElementById('form4');
          var form5 = document.getElementById('form5');
          var indication = document.getElementById('indication');

          form2.style.display = "none";
          form3.style.display = "none";
          form4.style.display = "none";
          form5.style.display = "none";
          indication.style.display = "none";

          document.getElementById('typeRech').addEventListener('change', function(e) {
            var selectUser = e.target.value;
            if (selectUser == 1) {
              form2.style.display = "none";
              form3.style.display = "none";
              form4.style.display = "none";
              form5.style.display = "none";
              indication.style.display = "none";
            }
            if (selectUser == 2) {
              form2.style.display = "";
              form3.style.display = "none";
              form4.style.display = "none";
              form5.style.display = "none";
              indication.style.display = "";
            }
            if (selectUser == 3) {
              form2.style.display = "none";
              form3.style.display = "";
              form4.style.display = "none";
              form5.style.display = "none";
              indication.style.display = "";
            }
            if (selectUser == 4) {
              form2.style.display = "none";
              form3.style.display = "none";
              form4.style.display = "";
              form5.style.display = "none";
              indication.style.display = "";
            }
            if (selectUser == 5) {
              form2.style.display = "none";
              form3.style.display = "none";
              form4.style.display = "none";
              form5.style.display = "";
              indication.style.display = "";
            }
          });
        </script>
      </body>
</html>