{% extends 'base.html' %}
{% load static %}

{% block title %} FindInvest | Recherche d'investissement {% endblock %}

{% block content %}
<style>
	@font-face {
		font-family: Poppins;
		src: url(fonts/Poppins-Regular.ttf);
	}
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-size: 'Poppins', sans-serif;
	}
	body{
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		/* background: #0b5ed7; */
		transition: 0.5s; 
	}
	.contain{
		position: relative;
		width: 800px;
		height: 500px;
		margin: 20px;
	}
	.blueBg{
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ff8c2e;
		width: 100%;
		height: 400px;
		top: 50px;
		box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
	}
	.blueBg .box{
		position: relative;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.blueBg .box h2{
		color: #fff;
		font-size: 1.2rem;
		font-weight: 500;
		margin-bottom: 10px;
	}

	.formBx{
		position: absolute;
		background: #fff;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		z-index: 1000;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
		transition: .3s ease-in-out;
		overflow: hidden;
		border-radius: 10px;
	}
	.formBx.active{
		left: 50%;
	}
	.formBx .form{
		position: absolute;
		left: 0;
		padding: 50px;
		width: 100%;
		transition: .5s;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.formBx .registerForm1{
		transition-delay: .2s;
	}
	.formBx.active .registerForm1{
		left: -100%;
		transition-delay: 0s;
	}
	.formBx .form h3{
		font-size: 1.5rem;
		color: #333;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.formBx .form h3 i{
		color: #ff8c2e;
	}

	.formBx .form input,
	.formBx .form select{
		width: 100%;
		/* margin-bottom: 20px; */
		padding: 10px;
		border-radius: 10px;
		outline: none;
		font-size: 16px;
		color: #333;
		/* border: #333 solid 1px; */
		border: 1px solid #ced4da;
	}
	.formBx .form input:focus,
	.formBx .form select:focus{
		border: 1px solid #ff8c2e;
		box-shadow: 0 0 5px #ff8c2e;
	}
	
	.precedentBtn{
		color: #333;
		cursor: pointer;
	}
	.precedentBtn:hover{
		color: rgb(107, 107, 107);
	}

	@media screen and (max-width:991px) {
		.contain{
			max-width: 400px;
			height: 550px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.contain .blueBg{
			top: 0;
			height: 100%;
		}
		.formBx{
			width: 100%;
			height: 400px;
			top: 0;
			box-shadow: none; 
		}
		.blueBg .box{
			position: absolute;
			width: 100%;
			height: 150px;
			bottom: 0;
		}
		.box.un{
			top: 0;
		}
		.formBx.active{
			left: 0;
			top: 150px;
		}
	}
	.fas{
		color: #ff8c2e !important;
		font-size: 2rem;
	}

	select{
		height: 41px !important;
	}

	body{
		background-image: url(../../static/img/bg_con.jpg);
		background-attachment: fixed;
		background-repeat: repeat;
		background-size: cover;
	}

	/* @media screen and (min-width: 992px) {
		.blueBg{
			background: #0b5dd7e3;
		}
	} */

	.btn-bleu{
		max-width: 150px;
	}
</style>

<div class="contain">
	<div class="blueBg">
        <div class="box un">
			<h2>Vous n'avez pas de compte ?</h2>
			<a class="btn-blanc" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" href="">S'inscrire</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			    <li><a class="dropdown-item" href="{% url 'register_student' %}">Etudiant</a></li>
			    <li><a class="dropdown-item" href="{% url 'register_investor' %}">Investisseur</a></li>
			</ul>
		</div>
		<div class="box deux">
			<h2>Vous n'avez pas de compte ?</h2>
			<a class="btn-blanc" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" href="">S'inscrire</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			    <li><a class="dropdown-item" href="{% url 'register_student' %}">Etudiant</a></li>
			    <li><a class="dropdown-item" href="{% url 'register_investor' %}">Investisseur</a></li>
			</ul>
		</div>
	</div>
	<form action="" method="POST">
		{% csrf_token %}

		<div class="formBx">
			<div class="form registerForm1">
				<h3><i class="fas fa-user-graduate"></i> Connexion</h3>
                <p></p><p></p>
                <input class="form-control" type="email" name="email" id="email" placeholder="Adresse email">
                <p><span class="errorform" id="error_email"></span></p>

                <style>
					.form-group {
						position: relative;
					}
					.fom {
					  align-items: center !important;
					  display: flex;
					}
					.far {
					  position: absolute;
					  top: 15px;
					  right: 4%;
					  cursor: pointer;
					  color: rgb(48, 48, 48);
					  font-size: 20px;
					}
				</style>

                <div class="form-group mb-2">
					<div class="fom"> 
						<input class="form-control" type="password" name="password" id="password" placeholder="Mot de passe">
                        <i class="far fa-eye" onclick="affiMdp()"></i> <i class="far fa-eye-slash" onclick="affiMdp()"></i>
					</div>
                    <p><span class="errorform" id="error_mdp"></span></p>
				</div>
                
				<div class="mt-2">
					<input class="btn-orange" type="submit" id="myBtn" onclick="return validateFormEnreg();" value="Connexion">
				</div> 
			</div>
		</div>
	</form>
</div>

<script>
    // affichage/masquage du mdp

	var password1 = document.getElementById('id_password1');
	var password2 = document.getElementById('id_password2');

	var eyeVisible = document.querySelector('.fa-eye');
	var eyeHidden = document.querySelector('.fa-eye-slash');
	
	eyeHidden.style.display = "none";
	
	function affiMdp() {
		if (password1.type === "password") {
		eyeHidden.style.display = "";
		eyeVisible.style.display = "none";
		password1.type = 'text';
		password2.type = 'text';
		} else {
		eyeHidden.style.display = "none";
		eyeVisible.style.display = "";
		password1.type = 'password';
		password2.type = 'password';
		}
	}
</script>

{% endblock %}
