{% extends 'base.html' %}
{% load static %}

{% block title %} FindIvest | Inscription Investisseur {% endblock %}

{% block content %}
  
<style>
	@font-face {
		font-family: Poppins;
		src: url(fonts/Poppins-Regular.ttf);
	}
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-size: 'Poppins', sans-serif;
	}
	body{
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		/* background: #0b5ed7; */
		transition: 0.5s; 
	}
	body.active{
		/* background: #ff8c2e; */
	}
	.contain{
		position: relative;
		width: 800px;
		height: 600px;
		margin: 20px;
	}
	.blueBg{
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		/* background: rgba(255, 255, 255, 0.2); */
		background: #0b5ed7;
		width: 100%;
		height: 420px;
		top: 90px;
		box-shadow: 0 5px 45px rgba(0, 0, 0, 0.308);
		border-radius: 10px;
	}
	.blueBg .box{
		position: relative;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.blueBg .box h2{
		color: #fff;
		font-size: 1.2rem;
		font-weight: 500;
		margin-bottom: 10px;
	}
	/* .box a{
		padding: 10px 20px;
		background: #fff;
		border-radius: 10px;
		font-size: 16px;
		font-weight: 500;
		border: none;
		color: #333;
		text-decoration: none;
		cursor: pointer;
	} */

	.formBx{
		position: absolute;
		background: #fff;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		z-index: 1000;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 5px 45px rgba(0, 0, 0, 0.479);
		transition: .3s ease-in-out;
		overflow: hidden;
		border-radius: 10px;
	}
	.formBx.active{
		left: 50%;
	}
	.formBx .form{
		position: absolute;
		left: 0;
		padding: 50px;
		width: 100%;
		transition: .5s;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.formBx .registerForm1{
		transition-delay: .2s;
	}
	.formBx.active .registerForm1{
		left: -100%;
		transition-delay: 0s;
	}
	.formBx .registerForm2{
		left: 100%;
		transition-delay: 0s;
	}
	.formBx.active .registerForm2{
		left: 0;
		transition-delay: .2s;
	}
	.formBx .form h3{
		font-size: 1.5rem;
		color: #333;
		font-weight: 500;
		margin-bottom: 20px;
	}
	.formBx .form h3 i{
		color: #0b5ed7;
	}
	.formBx .form input,
	.formBx .form select{
		width: 100%;
		padding: 10px;
		border-radius: 10px;
		outline: none;
		font-size: 16px;
		color: #333;
		border: 1px solid #ced4da;
	}
	.formBx .form input:focus,
	.formBx .form select:focus{
		border: 1px solid #0b5ed7;
		box-shadow: 0 0 5px #0b5ed7;
	}
	.form .btnForm{
		padding: 10px 20px;
		background: #0b5ed7;
		border-radius: 10px;
		font-size: 16px;
		font-weight: 500;
		border: none !important;
		color: #fff !important;
		cursor: pointer;
		max-width: 100px;
	}
	.precedentBtn{
		color: #333;
		cursor: pointer;
	}
	.precedentBtn:hover{
		color: rgb(107, 107, 107);
	}


	@media screen and (max-width:991px) {
		.contain{
			max-width: 400px;
			height: 800px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.contain .blueBg{
			top: 0;
			height: 100%;
		}
		.formBx{
			width: 100%;
			height: 650px;
			top: 0;
			box-shadow: none; 
		}
		.blueBg .box{
			position: absolute;
			width: 100%;
			height: 150px;
			bottom: 0;
		}
		.box.un{
			top: 0;
		}
		.formBx.active{
			left: 0;
			top: 150px;
		}
	}

	.fas{
		color: #0b5ed7 !important;
		font-size: 2rem;
	}

	body{
		background-image: url(../../static/img/bg_reg.jpg);
		background-attachment: fixed;
		background-repeat: repeat;
		background-size: cover;
	}

	@media screen and (min-width: 992px) {
		.blueBg{
			/* opacity: .8; */
			background: #0b5dd7e3;
		}
	}

	@media screen and (max-width: 767px) {
		.formBx .form{
			padding: 30px 20px;
		}
	}

	.btn-bleu{
		max-width: 150px;
	}
</style>

<div class="contain">
	<div class="blueBg">
		<div class="box un">
			<h2>Vous avez déja un compte ?</h2>
			<a class="btn-blanc" href="{% url 'connexion' %}">Connexion</a>
		</div>
		<div class="box deux">
			<h2>Vous avez déja un compte ?</h2>
			<a class="btn-blanc" href="{% url 'connexion' %}">Connexion</a>
		</div>
	</div>
	<form action="" method="POST">
		{% csrf_token %}

		{% if util == "" %}
		<div class="formBx">
		{% endif %}
		{% if util != "" %}
		<div class="formBx active">
		{% endif %}
			<div class="form registerForm1">
				<h3><i class="uil uil-user"></i> Inscription (1/2)</h3>
				{{user_form.last_name}}
				<p><span class="errorform" id="error_last_nameEtu"></span></p>
				{{invest_form.profession}}
				<p><span class="errorform" id="error_professionInv"></span></p>
				{{invest_form.entreprise}}
				<p><span class="errorform" id="error_entrepriseInv"></span></p>
				{{invest_form.objectifs}}
				<p><span class="errorform" id="error_objectifsInv"></span></p>
				{{invest_form.ville}}
				<p><span class="errorform" id="error_villeEtu"></span></p>
				<span style="font-size: 13px; color: #333; margin-bottom: 3px;">&emsp;(avec indicatif du pays, ex: +237)</span>
				
				{% if num_tel != "" %}
				<input type="tel" value="{{num_tel}}" name="telephone" maxlength="200" required="" id="id_telephone" class="form-control" placeholder="Numéro de téléphone*">
				{% endif %}
				{% if num_tel == "" %}
				<input type="tel" name="telephone" maxlength="200" required="" id="id_telephone" class="form-control" placeholder="Numéro de téléphone*">
				{% endif %}
				<p><span class="errorform" id="error_telephoneEtu"></span></p>
				<span id="suivantBtnInv" class="btn-bleu">Suivant</span>
			</div>
			<div class="form registerForm2">
				<h3><i class="uil uil-user"></i> Inscription (2/2)</h3>
				{% if user_form.username.errors %}
					<span class="errorform">Un utilisateur avec cette addresse existe déjà.</span>
				{% endif %}
				{{user_form.email}}
				<p><span class="errorform" id="error_emailEtu"></span></p>
				
				<span style="display: none;">
					{{user_form.username}}
				</span>
				
				<style>
					.form-group {
						position: relative;
					}
					.fom {
					  align-items: center !important;
					  display: flex;
					}
					.far {
					  position: absolute;
					  top: 15px;
					  right: 4%;
					  cursor: pointer;
					  color: rgb(48, 48, 48);
					  font-size: 20px;
					}
				</style>
				<!-- 
				Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.
				Votre mot de passe doit contenir au minimum 8 caractères.
				Votre mot de passe ne peut pas être un mot de passe couramment utilisé.
				Votre mot de passe ne peut pas être entièrement numérique.
				-->

				<style>
					#id_question, #id_reponse{
						border-top: none;
						border-left: none;
						border-right: none;
						border-radius: 0;
						box-shadow: none;
						font-size: 15px;
						/* border-bottom: #0b5ed7 solid 1px; */
					}
					#id_question:focus, #id_reponse:focus{
						border-bottom: #0b5ed7 solid 1px;
					}
					.secure{
						border-radius: 10px;
						border: #ced4da solid 1px;
						padding: 15px 15px 20px;
					}
				</style>
				<div class="form-group mb-4">
					<div class="fom"> 
						{{user_form.password1}}<i class="far fa-eye" onclick="affiMdp()"></i> <i class="far fa-eye-slash" onclick="affiMdp()"></i>
					</div>
					{{user_form.password2.errors}}
				</div>
				{{user_form.password2}}
				{{user_form.password2.errors}}

				<style>
					#id_question, #id_reponse{
						border-top: none !important;
						border-left: none !important;
						border-right: none !important;
						border-radius: 0 !important;
						box-shadow: none !important;
						font-size: 15px !important;
						/* border-bottom: #0b5ed7 solid 1px; */
					}
					#id_question:focus, #id_reponse:focus{
						border-bottom: #0b5ed7 solid 1px !important;
					}
					.secure{
						border-radius: 10px;
						border: #ced4da solid 1px;
						padding: 15px 15px 20px;
					}
				</style>
				<span class="secure mt-4" id="quest_rep">
					<span style="font-size: 14px; color: #333; margin-bottom: 2px;" class="mt-4">Définissez une question à poser en cas d'oublie de votre mot de passe*</span>
					{{invest_form.question}}
					<p></p>
					{{invest_form.reponse}}
				</span>
				<p><span class="errorform" id="error_questionEtu"></span></p>
				

				<div class="mt-2">
					<input class="btn-bleu" type="submit" id="myBtn" onclick="return validateFormEnregInv();" value="Enregister">
					<span id="precedentBtnInv" class="precedentBtn ms-5">Précédent</span>
				</div> 
				
			</div>
		</div>
	</form>
</div>

<script>


	champsForm = document.getElementsByTagName('input');
	for (let i = 0; i < (champsForm.length-1); i++) {
		champsForm[i].classList.add('form-control');
		champsForm[i].addEventListener("keypress", function(event) {
			if (event.key === "Enter") {
			    event.preventDefault();
			    document.getElementById("myBtn").click();
			}
		});
	}

	window.addEventListener("keypress", function(event) {
		if (event.key === "Enter") {
			document.getElementById("myBtn").click();
		}
	});
	
	champsForm[1].placeholder="Noms et prénoms*";
	champsForm[2].placeholder="Profession actuelle*";
	champsForm[3].placeholder="Votre entreprise (optionnel)";
	champsForm[4].placeholder="Votre objectif sur la plateforme*";
	champsForm[5].placeholder="Ville*";
	champsForm[6].placeholder="Numéro de téléphone*";
	champsForm[7].placeholder="Adresse email*";
	champsForm[9].placeholder="Mot de passe*";
	champsForm[10].placeholder="Confirmer mot de passe*";
	champsForm[11].placeholder="Votre question :";
	champsForm[12].placeholder="Votre réponse :";

	// affichage/masquage du mdp

	var password1 = document.getElementById('id_password1');
	var password2 = document.getElementById('id_password2');

	var eyeVisible = document.querySelector('.fa-eye');
	var eyeHidden = document.querySelector('.fa-eye-slash');
	
	eyeHidden.style.display = "none";
	
	function affiMdp() {
		if (password1.type === "password") {
		eyeHidden.style.display = "";
		eyeVisible.style.display = "none";
		password1.type = 'text';
		password2.type = 'text';
		} else {
		eyeHidden.style.display = "none";
		eyeVisible.style.display = "";
		password1.type = 'password';
		password2.type = 'password';
		}
	}



	// inscription INVESTISSEUR etape 1

	// fonction de validation de champs
	function valChapmsText(champs, errClass) {
		if (champs.value == "") {
		errClass.innerHTML="*veuillez remplir ce champs";
		champs.focus();
		champs.classList.add('err');
		return false;
		} else {
		errClass.innerHTML="";
		champs.classList.remove('err');
		return true;
		}
	}
	function valChapmsTel(champs, errClass) {
		if (champs.value == "") {
			errClass.style.display="";
			errClass.innerHTML="*veuillez entrer un numéro correct";
			champs.focus();
			champs.classList.add('err');
			return false;
		} else if (champs.value.charAt(0)!="+") {
			errClass.style.display="";
			errClass.innerHTML="*indicatif du pays manquant, ex: +237";
			champs.focus();
			champs.classList.add('err');
			return false;
		} else if (champs.value.length <= 11 || champs.value.length >= 16) {
			errClass.style.display="";
			errClass.innerHTML="*veuillez entrer un numéro correct (11 chiffres minimum)";
			champs.focus();
			champs.classList.add('err');
			return false;
		}  else {
			for (let i = 1; i < champs.value.length; i++) {
				if (champs.value.charAt(i) < "0" || champs.value.charAt(i) > "9") {
					errClass.style.display="";
					errClass.innerHTML="*veuillez entrer un numéro correct";
					champs.focus();
					champs.classList.add('err');
					return false;
				}
			}
		}
		errClass.innerHTML="";
		champs.classList.remove('err');
		return true;
	}
	function valChapmsEmail(champs, errClass) {
		var valeursAcceptees = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
		if (champs.value == "") {
			errClass.innerHTML="*veuillez entrer une addrese mail";
			champs.focus();
			champs.classList.add('err');
			return false;
		} else if ( ! champs.value.match(valeursAcceptees)) {
			errClass.innerHTML="*veuillez entrer une addrese mail valide";
			champs.focus();
			champs.classList.add('err');
			return false;
		} else {
			errClass.innerHTML="";
			champs.classList.remove('err');
			return true;
		}
	}
	function valChapmsQuestRepons(champs, errClass, contain) {
		if (champs.value == "") {
			errClass.innerHTML="*veuillez entrer une question et une réponse";
			champs.focus();
			contain.classList.add('err');
			return false;
		} else {
			errClass.innerHTML="";
			contain.classList.remove('err');
			return true;
		}
	}

	var last_nameEtu = document.getElementById('id_last_name');
	var error_last_nameEtu = document.getElementById('error_last_nameEtu');

	var villeEtu = document.getElementById('id_ville');
	var error_villeEtu = document.getElementById('error_villeEtu');

	var telephoneEtu = document.getElementById('id_telephone');
	var error_telephoneEtu = document.getElementById('error_telephoneEtu');

	var professionInv = document.getElementById('id_profession');
	var error_professionInv = document.getElementById('error_professionInv');

	var objectifsInv = document.getElementById('id_objectifs');
	var error_objectifsInv = document.getElementById('error_objectifsInv');

	function valInv1() {
		if (valChapmsText(last_nameEtu, error_last_nameEtu)
			&& valChapmsText(professionInv, error_professionInv)
			&& valChapmsText(objectifsInv, error_objectifsInv)
			&& valChapmsText(villeEtu, error_villeEtu)
			&& valChapmsTel(telephoneEtu, error_telephoneEtu)) {
			return true;
		} else {
			return false;
		}
	}

	//  valider et passer à l'étape 2

	const suivantBtnInv = document.getElementById('suivantBtnInv');

	suivantBtnInv.onclick = function() {
		if (valInv1()) {
			formBx.classList.add('active');
			body.classList.add('active');
		}
	}
	const precedentBtnInv = document.getElementById('precedentBtnInv');
	precedentBtnInv.onclick = function() {
		formBx.classList.remove('active');
		body.classList.remove('active');
	}

	// etape 2

	var emailEtu = document.getElementById('id_email');
	var error_emailEtu = document.getElementById('error_emailEtu');

	var questtionEtu = document.getElementById('id_question');
	var reponseEtu = document.getElementById('id_reponse');
	var error_questionEtu = document.getElementById('error_questionEtu');

	var quest_rep = document.getElementById('quest_rep')

	function valInv2() {
		if (valChapmsEmail(emailEtu, error_emailEtu)
			&& valChapmsQuestRepons(questtionEtu, error_questionEtu, quest_rep)
			&& valChapmsQuestRepons(reponseEtu, error_questionEtu, quest_rep)) {
			return true;
		} else {
			return false;
		}
	}

	function validateFormEnregInv() {
		var usernam = document.getElementById('id_username');
		var email = document.getElementById('id_email');
		usernam.value = email.value
	    if (valInv1()) {
	        formBx.classList.add('active');
			body.classList.add('active');
	    }
	    return valInv1()&&valInv2();
	}

    
</script>

{% endblock %}
