{% extends 'base.html' %}
{% load static %}

{% block title %} FindInvest | Recherche d'investissement {% endblock %}

{% block content %}
  
<style>
    .choix p{
        font-size: .9rem;
        padding: 10px 15px;
        font-weight: 500;
        border-radius: 10px;
    }
    .choix.question p{
        border: 2px solid #ff8c2e;
        background: #ff8c2e54;
    }
    .choix.email p{
        border: 2px solid #0b5ed7;
        background: #0b5dd741;
    }

    .formu{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .formu form img{
        width: 200px;
        height: auto;
    }

    .formu form{
        width: 300px;
    }
</style>
<!-- <div class="modal fade show" id="mdp_oublie" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Mot de passe oublié</h5>
        </div>
        <div class="modal-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                        <p>
                            <b>Questions :</b>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione cupiditate odio consectetur, dicta id tempora quisquam dolorum quo, enim voluptatibus ?
                        </p>
                        <div class="form-group">
                            <label for="id_reponde"><b>Réponse :</b></label>
                            <input class="form-control" type="text" name="reponse" id="id_reponse">
                        </div>
                </div>
                <div class="modal-footer">
                    <input class="btn-orange" type="submit" value="Envoyer">
                </div>
            </form>
        </div>
    </div>
    </div>
</div> -->

<div class="formu">
    <form name="form_reset" onsubmit="return validate()" action="" method="post">
        {% csrf_token %}
        <div class="text-center">
            <p><img src="{% static 'img/logo.png' %}" alt="" srcset=""></p>
            <p>
                <h2>Complétez les champs</h2>
            </p>
            <hr>
        </div>

        {% if not existe %}
            {% if username %}
            <p>
                <input type="text" name="username" id="username" value="{{username}}">
            </p>
            {% else %}
            <p>
                <input type="text" name="username" id="username" placeholder="Adresse email">
            </p>
            {% endif %}

            <p></p>
            <select name="methode" id="methode">
                <option value="selected">Méthode à utiliser</option>
                <option value="1">Question de sécurité</option>
                <option value="2">Email de réinitialisation</option>
            </select>
            <p></p>

            <div class="types">
                <div class="choix question" id="question">
                    <p>
                        <i class="fa-solid fa-clipboard-question"></i> 
                        Répondre à la question de sécurité (à poser en cas d'oublie du mot de passe) 
                        que vous avez définie lors de votre inscription. 
                    </p>
                </div>
                <div class="choix email" id="email">
                    <p>
                        <i class="fa-solid fa-envelope-circle-check"></i> 
                        Renseignez votre adresse email et vous recevrez un lien vers la 
                        page de réinitialisation du mot de passe.
                    </p>
                </div>
            </div>

           

            <p></p>
        
        {% else %}

            <p style="display: none;">
                <input type="text" name="username" id="username" value="{{username}}">
            </p>
        
            <p>
                <u>Question</u> : <br>
                <span style="font-weight: 700;"> {{question}}</span>
            </p>

            <p>
                <input type="text" name="reponse" id="reponse" placeholder="Votre réponse">
            </p>
            <!-- <p><span class="errorform" id="error_reponse"></span></p> -->
            

        {% endif %}
        {% for message in messages %}
            <p class="errornotes">{{message}}</p>
        {% endfor %}
        <p></p>
        <input class="btn-bleu" type="submit" value="Envoyer">

    </form>
</div>

<script>
    var methode = document.getElementById("methode");
    var quest = document.getElementById("question");
    var emai = document.getElementById("email");

    quest.style.display = "none";
    emai.style.display = "none";
    methode.addEventListener('change', function(e) {
        var mth = e.target.value;
        if (mth == 1) {
            quest.style.display = "";
            emai.style.display = "none";
        }
        if (mth == 2) {
            quest.style.display = "none";
            emai.style.display = "";
        }
    });

    var reponse = document.getElementById('reponse');
    var reponse = document.getElementById('reponse');
    var ligne = document.getElementById('ligne');
    var error_reponse = document.getElementById('error_reponse');

    function validate() {
        
        if (reponse.value != "" && ligne.value !="") {
            alert(methode);
            return false;

            // alert("ok");
            // return false
            if (reponse.value == ligne.value) {
                alert("ok");
                return false;
            }else{
                
                // error_reponse.innerHTML="Votre réponse est incorrecte !";
                // reponse.focus();
                // reponse.classList.add('err');
                alert("pas ok");
                return false;
            }
        }
    }

</script>

{% endblock %}
